Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend

trigger-notifications-api:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

fix(portal-consumer): Don't leak secrets in bash scripts
  helm/portal-consumer/templates/configmap.yaml
Due: none

chore(release): 0.38.4 [skip ci]
  CHANGELOG.md
Due: none

fix: bump provisioning client, adapt to new endpoint names, log DN
  docker/portal-consumer/requirements.txt
  helm/portal-consumer/templates/configmap.yaml
  portal_consumer/consumer.py
Due: none

chore(release): 0.38.5 [skip ci]
  CHANGELOG.md
Due: none

fix(frontend): Correct the "meta.json" for solo frontend usage
  frontend/public/data/meta.json
Due: trigger-frontend

fix(frontend): Correct the "portal.json" example announcements
  frontend/public/data/portal.json
Due: trigger-frontend

chore(release): 0.38.6 [skip ci]
  CHANGELOG.md
Due: none

feat: remove cachehttp and reloaderhttp
  python/univention/portal/extensions/cache_http.py
  python/univention/portal/extensions/reloader_http.py
  python/univention/portal/handlers/navigation_handler.py
  python/univention/portal/handlers/portal_entries_handler.py
  unittests/test_cache_http.py
  unittests/test_portal_entries_handler.py
  unittests/test_reloader_http.py
Due: none

chore(release): 0.39.0 [skip ci]
  CHANGELOG.md
Due: none

ci(frontend): Remove wrong rules from frontend e2e test job
  frontend/.gitlab-ci.yml
Due: trigger-frontend

ci(frontend): Correct style in dockerfile for e2e test runner
  frontend/Dockerfile.test
Due: trigger-frontend

ci(frontend): Adjust documentation to match current state
  frontend/Dockerfile.test
Due: trigger-frontend

ci(frontend): Remove wrong target when building frontend-test-runner-ui
  frontend/.gitlab-ci.yml
Due: trigger-frontend

ci(frontend): Add explicit hash to cypress docker image
  frontend/Dockerfile.test
Due: trigger-frontend

ci(frontend): Use browserlist database based on lockfile
  frontend/Dockerfile.test
Due: trigger-frontend

test(frontend): Correct cypress fixture "meta.json"
  frontend/tests/e2e/fixtures/meta.json
Due: trigger-frontend

fix(docker-compose): use the reverse-proxy to develop the frontend against a Nubus backend running elsewhere
  docker/reverse-proxy/default.conf.template
  docker/reverse-proxy/nginx.conf
  frontend/.env.opendesk
  frontend/README.md
  frontend/docker-compose.yaml
Due: trigger-frontend

feat(ci): enable malware scanning, disable sbom generation
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend

chore(release): 0.40.0 [skip ci]
  CHANGELOG.md
Due: none

fix: bump Provisioning client version, adapt to new subscriptions format
  docker/portal-consumer/requirements.txt
Due: none

chore(release): 0.40.1 [skip ci]
  CHANGELOG.md
Due: none

refactor(frontend): Add type assertion to any for subset of WidgetDefinition
  frontend/src/components/forms/FormElement.vue
Due: trigger-frontend

refactor(frontend): Change type of Notification.expireAt to "Date | undefined"
  frontend/src/store/modules/notifications/index.ts
  frontend/src/store/modules/notifications/notifications.models.ts
Due: trigger-frontend

refactor(frontend): Correct type handling in Grid ContextMenu
  frontend/src/components/widgets/Grid/components/ContextMenu.vue
Due: trigger-frontend

refactor(frontend): Fix type of caught exception in jshelper admin
  frontend/src/jsHelper/admin.ts
Due: trigger-frontend

test(frontend): Correct warnings in unit test utils
  frontend/tests/unit/utils.ts
Due: trigger-frontend

refactor(frontend): Use if conditions instead of try-catch in jshelper
  frontend/src/jsHelper/admin.ts
Due: trigger-frontend

refactor(frontend): Correct promise type in selfservice
  frontend/src/views/selfservice/Profile.vue
Due: trigger-frontend

test(frontend): Style in jshelper umc
  frontend/src/jsHelper/umc.ts
Due: trigger-frontend

refactor(frontend): Correct export expression in jshelpers translation
  frontend/src/jsHelper/translate.ts
Due: trigger-frontend

style(frontend): Use regular expression literal in jshelpers forms
  frontend/src/jsHelper/forms.ts
Due: trigger-frontend

build(frontend): Update core-js to version 3.38.1
  frontend/yarn.lock
Due: trigger-frontend

fix(frontend): TabsBody: slot.type.name to slot.type, slot.children as any
  frontend/src/components/widgets/Tabs/components/TabsBody.vue
Due: trigger-frontend

build(frontend): Update via "vue upgrade" - not yet functional
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend

build(frontend): Yarn upgrade vue from 3.0 to 3.5 - still not functional
  frontend/yarn.lock
Due: trigger-frontend

build(frontend): Configure css-loader, so that it does not parse the paths in "url()"
  frontend/vue.config.js
Due: trigger-frontend

build(frontend): Update @vue/test-utils to version 2.4.6
  frontend/yarn.lock
Due: trigger-frontend

refactor(frontend): Add type assertion around this.$props to be able to use spread operator
  frontend/src/components/PortalFolder.vue
Due: trigger-frontend

build(frontend): Add postcss-preset-env ^9, missing module
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend

test(frontend): E2e tests style adjustments to catch up with eslint configuration
  frontend/tests/e2e/specs/TestChooseTabButton.js
  frontend/tests/e2e/specs/TestEditModeSideNavigation.js
  frontend/tests/e2e/specs/TestPortalError.js
  frontend/tests/e2e/specs/TestPortalLanding.js
  frontend/tests/e2e/specs/TestSearch.js
  frontend/tests/e2e/specs/TestTabs.js
Due: trigger-frontend

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
