Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

feat(helm): support ingress rewrites with HAProxy
  helm/notifications-api/values.yaml
  helm/portal-frontend/values.yaml
Due: none

style: PERF102 incorrect-dict-iterator
  python/univention/portal/handlers/portal_resource.py
Due: trigger-portal-server, trigger-debian-package

ci: Update common-ci to version 0.4.0
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: Version Helm chart packages
  .gitlab-ci.yml
  .releaserc.yaml
Due: none

chore(frontend): switch to ucs-base
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix(frontend): update some packages for yarn
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

fix(frontend): added nginx stage, split tests into Dockerfile.test, adjusted docker-compose to run tests from seperate Dockerfile.test
  frontend/Dockerfile
  frontend/Dockerfile.test
  frontend/docker-compose.yaml
Due: trigger-frontend, trigger-debian-package

feat(frontend): switch to ucs-base
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix(versions): produce version-tagged Docker images
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(semantic-release-env): bump version of common-ci, to correct release-bot's email
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore(release): 0.3.0
  CHANGELOG.md
Due: none

chore(release): 0.3.1
  CHANGELOG.md
Due: none

fix(semantic-release): set correct default branch
  .releaserc.yaml
Due: none

fix(semantic-release): bump version for release-version bugfix
  .gitlab-ci.yml
Due: none

chore(release): 0.3.2
  CHANGELOG.md
Due: none

fix(ci): always run the full build pipeline on the main branch
  .gitlab-ci.yml
Due: none

chore(release): 0.3.3
  CHANGELOG.md
Due: none

fix(portal-listener): checking for UDM availability uses correct HTTP headers
  helm/portal-listener/templates/configmap.yaml
Due: none

fix(wait-for-dependency): include ca-certificates to allow waiting for HTTPS dependencies
  docker/wait-for-dependency/Dockerfile
Due: none

chore(release): 0.3.4
  CHANGELOG.md
Due: none

fix(docker): bump common-ci to build latest image
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore(release): 0.3.5
  CHANGELOG.md
Due: none

feat(portal-server): make central navigation configurable in the containerized stack
  docker/portal-server/docker-entrypoint.sh
  helm/portal-server/Chart.lock
  helm/portal-server/Chart.yaml
  helm/portal-server/README.md
  helm/portal-server/templates/configmap.yaml
  helm/portal-server/templates/secret.yaml
  helm/portal-server/values.yaml
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.4.0
  CHANGELOG.md
Due: none

fix(portal-server): make central navigation secret optional
  helm/portal-server/templates/secret.yaml
Due: none

chore(release): 0.4.1
  CHANGELOG.md
Due: none

fix(portal-listener): Don't fail if central navigation is undefined
  docker/portal-server/docker-entrypoint.sh
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.4.2
  CHANGELOG.md
Due: none

fix(portal-server): Always create secret
  helm/portal-server/templates/secret.yaml
Due: none

chore(release): 0.4.3
  CHANGELOG.md
Due: none

fix(frontend): Add announcements styles
  frontend/src/assets/styles/dark.styl
Due: trigger-frontend, trigger-debian-package

style(frontend): Replace tabs with spaces in "*.styl"
  frontend/src/assets/styles/_ucs-vars.styl
  frontend/src/assets/styles/dark.styl
Due: trigger-frontend, trigger-debian-package

chore(release): 0.4.4
  CHANGELOG.md
Due: none

feat(frontend): Add extraVolumes support into Helm chart
  helm/portal-frontend/Chart.lock
  helm/portal-frontend/Chart.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

chore(release): 0.5.0
  CHANGELOG.md
Due: none

fix(frontend): Logging to stdout / stderr enabled again
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix(frondent): Ignore Dockerfile
  frontend/.dockerignore
Due: trigger-frontend, trigger-debian-package

chore(release): 0.5.1
  CHANGELOG.md
Due: none

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*) or (any of: debian/**/*))
