Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

.gitlab-ci.yml:

# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023 Univention GmbH

---

include:
  - project: "univention/customers/dataport/upx/common-ci"
    ref: "v1.20.0"
    file:
      - "defaults/stages.yaml"
      - "defaults/souvap-workflow.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/package-and-publish-helm-charts-souvap.yaml"

lint-pre-commit:
  before_script:
    - |
      # Compose lint would fail without the referenced env files
      cp docker/.env.example docker/.env
      cp docker/.env.keycloak.example docker/.env.keycloak
      cp docker/.env.listener.example docker/.env.listener
      cp docker/.env.umc-gateway.example docker/.env.umc-gateway
      cp docker/.env.umc-server.example docker/.env.umc-server
      helm repo add bitnami https://charts.bitnami.com/bitnami

trigger-notifications-api:
  stage: "trigger"
  needs:
    - job: "pre-semantic-release"
      artifacts: true
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "notifications-api/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes:
        - "notifications-api/**/*"
        - "tests/**/*"

trigger-frontend:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "frontend/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: &portal-frontend-changes
        - "frontend/**/*"
        - "tests/**/*"

trigger-portal-server:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "portal-server/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: &portal-server-changes
        - "docker/portal-server/**/*"
        - "docker/portal-listener/**/*"
        - "listener/**/*"
        - "portal-server/**/*"
        - "python/**/*"
        - "setup.py"
        - "tests/**/*"
        - "udm/**/*"
        - "unittests/**/*"
        - "univention-portal"
        - "univention-portal-server"

# TODO: Pending removal. This can be removed once the ucs-machine (VMs) are not
# used anymore. Usage in the dev environment and in the SouvAP deployment.
trigger-debian-package:
  stage: "trigger"
  trigger:
    strategy: "depend"
    include:
      - local: ".gitlab-ci.debian.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: *portal-server-changes
    - changes: *portal-frontend-changes
    - changes:
        - "debian/**/*"

...

fixup! feat(portal): further improvements of the portal for UCS 5.2
  debian/changelog
  frontend/src/store/modules/modal/index.ts
Due: trigger-frontend, trigger-debian-package

chore(release): 0.20.5 [skip ci]
  CHANGELOG.md
Due: none

test: add unit test for user self-service birthday deletion
  frontend/tests/unit/views/selfservice/helper.spec.ts
Due: trigger-frontend, trigger-debian-package

fixup! test: add unit test for user self-service birthday deletion
  frontend/tests/unit/views/selfservice/helper.spec.ts
Due: trigger-frontend, trigger-debian-package

fixup! fixup! test: add unit test for user self-service birthday deletion
  frontend/tests/unit/views/selfservice/helper.spec.ts
Due: trigger-frontend, trigger-debian-package

fix(listener): Add volume "group-membership-cache"
  helm/portal-listener/README.md
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

fix(listener): Skip rebuild of group membership cache in init container
  docker/portal-listener/initialize.sh
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.20.6 [skip ci]
  CHANGELOG.md
Due: none

fix: Revert "fix(listener): Skip rebuild of group membership cache in init container"
  docker/portal-listener/initialize.sh
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.20.7 [skip ci]
  CHANGELOG.md
Due: none

fix: base portal-listener.ldapAdminDn on nubusTemplates.ldapServer.ldap.adminDn rename portal-listener.ldapHost to portal-listener.ldap.connection.host
  helm/portal-listener/templates/_helpers.tpl
  helm/portal-listener/templates/configmap.yaml
Due: none

fix: remove unneeded configmap entries
  helm/portal-server/templates/configmap.yaml
Due: none

fix: remove unneeded template defintion
  helm/notifications-api/templates/_helpers.tpl
Due: none

refactor: refactor object storage credential templating, also adding missing global default definition for postgresql connection
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
  helm/portal-listener/templates/_helpers.tpl
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-server/templates/_helpers.tpl
  helm/portal-server/templates/deployment.yaml
Due: none

feat: changes to support the refactored umbrella values in a nubus deployment (notifications-api)
  helm/notifications-api/README.md
  helm/notifications-api/templates/_helpers.tpl
  helm/notifications-api/templates/configmap.yaml
  helm/notifications-api/templates/deployment.yaml
  helm/notifications-api/values.yaml
Due: none

fix: code deduplication
  helm/portal-listener/templates/_helpers.tpl
  helm/portal-listener/templates/statefulset.yaml
Due: none

feat: changes to support the refactored umbrella values in a nubus deployment (portal-listener)
  helm/portal-listener/README.md
  helm/portal-listener/templates/_helpers.tpl
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

chore: use nubusTemplates.udmRestApi.uri
  helm/portal-listener/templates/_helpers.tpl
Due: none

feat: changes to support the refactored umbrella values in a nubus deployment (portal-server)
  helm/portal-server/README.md
  helm/portal-server/templates/_helpers.tpl
  helm/portal-server/templates/configmap.yaml
  helm/portal-server/templates/deployment.yaml
  helm/portal-server/values.yaml
Due: none

chore(release): 0.21.0 [skip ci]
  CHANGELOG.md
Due: none

fixup! fixup! fixup! fixup! fixup! feat: drop session cookie patch
  frontend/tests/unit/jsHelper/umc.spec.ts
Due: trigger-frontend, trigger-debian-package

fixup! fixup! fixup! fixup! fixup! fixup! feat: drop session cookie patch
  frontend/tests/unit/jsHelper/umc.spec.ts
Due: trigger-frontend, trigger-debian-package

fixup! fixup! fixup! fixup! feat: drop session cookie patch
  frontend/src/jsHelper/umc.ts
Due: trigger-frontend, trigger-debian-package

fixup! feat: drop session cookie patch
  frontend/src/jsHelper/umc.ts
  frontend/tests/unit/jsHelper/umc.spec.ts
Due: trigger-frontend, trigger-debian-package

fixup! fixup! feat: drop session cookie patch
  frontend/src/jsHelper/umc.ts
Due: trigger-frontend, trigger-debian-package

feat: drop session cookie patch
  frontend/src/jsHelper/umc.ts
  frontend/tests/unit/jsHelper/umc.spec.ts
Due: trigger-frontend, trigger-debian-package

fixup! fixup! fixup! feat: drop session cookie patch
  frontend/src/jsHelper/umc.ts
Due: trigger-frontend, trigger-debian-package

fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: drop session cookie patch
  frontend/tests/unit/jsHelper/umc.spec.ts
Due: trigger-frontend, trigger-debian-package

chore(release): 0.22.0 [skip ci]
  CHANGELOG.md
Due: none

feat: Update base image to 5.0-7
  docker/deb-builder/Dockerfile
  docker/portal-server/Dockerfile
  frontend/Dockerfile
  notifications-api/Dockerfile
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

feat: Update the listener base image to version 0.6.0
  docker/portal-listener/Dockerfile
Due: trigger-portal-server, trigger-debian-package

feat: Update the listener base image to version 0.7.0
  docker/portal-listener/Dockerfile
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.23.0 [skip ci]
  CHANGELOG.md
Due: none

fix(ci): remove wait-for-dependency
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

fix(doc): update README
  helm/portal-listener/README.md
Due: none

fix(univention-portal): remove wait-for-dependency container from repo
  docker/wait-for-dependency/Dockerfile
  helm/portal-listener/values.yaml
Due: none

* fix(doc): update README
  docker/wait-for-dependency/Dockerfile
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

fix(helm): add additional templating support
  helm/portal-listener/templates/_helpers.tpl
Due: none
