Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

.gitlab-ci.yml:

# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023 Univention GmbH

---

include:
  - project: "univention/customers/dataport/upx/common-ci"
    ref: "v1.20.0"
    file:
      - "defaults/stages.yaml"
      - "defaults/souvap-workflow.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/package-and-publish-helm-charts-souvap.yaml"

lint-pre-commit:
  before_script:
    - |
      # Compose lint would fail without the referenced env files
      cp docker/.env.example docker/.env
      cp docker/.env.keycloak.example docker/.env.keycloak
      cp docker/.env.listener.example docker/.env.listener
      cp docker/.env.umc-gateway.example docker/.env.umc-gateway
      cp docker/.env.umc-server.example docker/.env.umc-server
      helm repo add bitnami https://charts.bitnami.com/bitnami

trigger-notifications-api:
  stage: "trigger"
  needs:
    - job: "pre-semantic-release"
      artifacts: true
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "notifications-api/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes:
        - "notifications-api/**/*"
        - "tests/**/*"

trigger-frontend:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "frontend/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: &portal-frontend-changes
        - "frontend/**/*"
        - "tests/**/*"

trigger-portal-server:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "portal-server/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: &portal-server-changes
        - "docker/portal-server/**/*"
        - "docker/portal-listener/**/*"
        - "listener/**/*"
        - "portal-server/**/*"
        - "python/**/*"
        - "setup.py"
        - "tests/**/*"
        - "udm/**/*"
        - "unittests/**/*"
        - "univention-portal"
        - "univention-portal-server"

# TODO: Pending removal. This can be removed once the ucs-machine (VMs) are not
# used anymore. Usage in the dev environment and in the SouvAP deployment.
trigger-debian-package:
  stage: "trigger"
  trigger:
    strategy: "depend"
    include:
      - local: ".gitlab-ci.debian.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: *portal-server-changes
    - changes: *portal-frontend-changes
    - changes:
        - "debian/**/*"

...

fix(server): object storage reloader test coverage
  python/univention/portal/extensions/reloader_object_storage.py
  unittests/test_cache_object_storage.py
  unittests/test_reloader_object_reloader.py
Due: trigger-portal-server, trigger-debian-package

fix(server): object storage cache test coverage
  python/univention/portal/extensions/cache_object_storage.py
  unittests/test_cache_http.py
  unittests/test_cache_object_storage.py
Due: trigger-portal-server, trigger-debian-package

feat(listener): Support object storage reloader
  debian/control
  docker/portal-listener/Dockerfile
  docker/portal-listener/stub_portals.json
  docker/portal-server/Dockerfile
  docker/portal-server/docker-entrypoint.sh
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
  helm/portal-server/README.md
  helm/portal-server/linter_values.yaml
  helm/portal-server/templates/configmap.yaml
  helm/portal-server/values.yaml
  python/univention/portal/extensions/reloader_object_storage.py
  python/univention/portal/util.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.14.0 [skip ci]
  CHANGELOG.md
Due: none

refactor: restore original UCS joinscript
  33univention-portal.inst
Due: none

fix(announcements): fix start and end date
  python/univention/portal/extensions/reloader_content.py
Due: trigger-portal-server, trigger-debian-package

docs: add missing copyright header
  frontend/src/apis/notifications/git_push.sh
  frontend/sync
Due: trigger-frontend, trigger-debian-package

fix(self-service): The deletion of a user's profile picture via self-service has been repaired
  frontend/src/views/selfservice/Profile.vue
  frontend/src/views/selfservice/helper.ts
Due: trigger-frontend, trigger-debian-package

chore(release): 0.14.1 [skip ci]
  CHANGELOG.md
Due: none

refactor(umc): adjust UMCP set/ HTTP requests
  frontend/src/jsHelper/umc.ts
Due: trigger-frontend, trigger-debian-package

feat(udm): set superordinate of UDM portal modules
  udm/handlers/category.py
  udm/handlers/entry.py
  udm/handlers/folder.py
  udm/handlers/portal.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.15.0 [skip ci]
  CHANGELOG.md
Due: none

fix(self-service): fix label translation for self-service fields
  frontend/src/views/selfservice/GuardedSite.vue
  frontend/src/views/selfservice/NewPassword.vue
  frontend/src/views/selfservice/PasswordChange.vue
  frontend/src/views/selfservice/Profile.vue
  frontend/src/views/selfservice/VerifyAccount.vue
Due: trigger-frontend, trigger-debian-package

style(json): prettify JSON
  docker/keycloak/realm-export.json
  docker/portal-listener/stub_portals.json
  docker/portal-server/stub_groups.json
  docker/portal-server/stub_portal.json
  docker/portal-server/stub_portals.json
  frontend/openapitools.json
  frontend/package.json
  frontend/public/data/languages.json
  frontend/public/data/meta.json
  frontend/public/data/portal.json
  frontend/public/dev-data/portal.json
  frontend/tests/e2e/fixtures/portal_choose_tab_button.json
  frontend/tests/e2e/fixtures/portal_logged_in.json
  frontend/tests/e2e/fixtures/portal_logged_out.json
  frontend/tests/e2e/fixtures/portal_test_tabs.json
  frontend/tests/e2e/fixtures/selfservice/portal.json
  renovate.json
  unittests/files/portal_cache.json
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

ci(pre-commit): prettify JSON
  .pre-commit-config.yaml
Due: none

chore(release): 0.15.1 [skip ci]
  CHANGELOG.md
Due: none

feat: remove phoenix references
  frontend/debian/.gitignore
  frontend/debian/changelog
  frontend/debian/compat
  frontend/debian/control
  frontend/debian/copyright
  frontend/debian/phoenixportal.install
  frontend/debian/phoenixportal.postinst
  frontend/debian/phoenixportal.univention-l10n
  frontend/debian/rules
  frontend/debian/source/format
Due: trigger-frontend, trigger-debian-package

chore(release): 0.16.0 [skip ci]
  CHANGELOG.md
Due: none

fix(server): missing default value
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

chore(release): 0.16.1 [skip ci]
  CHANGELOG.md
Due: none

feat(announcements): Adjust style for Announcement.vue
  frontend/src/components/PortalHeader.vue
  frontend/src/components/widgets/Announcement.vue
  frontend/src/store/modules/portalData/portalData.models.ts
Due: trigger-frontend, trigger-debian-package

chore(release): 0.17.0 [skip ci]
  CHANGELOG.md
Due: none

feat(announcements): Remove needsConfirmation from layout
  udm/handlers/announcement.py
  udm/handlers/de.po
Due: trigger-portal-server, trigger-debian-package

docs(changelog): rebase debian/changelog onto UCS
  debian/changelog
  debian/control
Due: trigger-debian-package

chore(release): 0.18.0 [skip ci]
  CHANGELOG.md
Due: none

feat(portal): make use of UDM backend client configurable
  conffiles/usr/lib/univention-portal/config/config.json
  docker/portal-server/docker-entrypoint.sh
  python/univention/portal/extensions/portal.py
  python/univention/portal/extensions/reloader.py
  python/univention/portal/extensions/reloader_http.py
  python/univention/portal/extensions/reloader_object_storage.py
  python/univention/portal/extensions/reloader_udm.py
  python/univention/portal/handlers/navigation_handler.py
  unittests/files/config_a.json
  unittests/files/portal_cache.json
  unittests/test_config.py
  unittests/test_reloader_content.py
  unittests/test_reloader_http.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.19.0 [skip ci]
  CHANGELOG.md
Due: none

chore: add missing copyright header
  python/univention/portal/util.py
  unittests/test_portal_umc.py
  unittests/test_util.py
Due: trigger-portal-server, trigger-debian-package

fix(listener): wait for object-storage to be provisioned
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/statefulset.yaml
Due: none

chore(release): 0.19.1 [skip ci]
  CHANGELOG.md
Due: none

doc(udm): PEP-484 type annotations
  python/univention/portal/__init__.py
Due: trigger-portal-server, trigger-debian-package

fix(portal-listener): remove store-dav ref
  helm/portal-frontend/values.yaml
  helm/portal-listener/Chart.lock
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
Due: none

chore(release): 0.20.0 [skip ci]
  CHANGELOG.md
Due: none

docs(frontend/notifications): add addlicense
  frontend/src/apis/notifications/api.ts
  frontend/src/apis/notifications/base.ts
  frontend/src/apis/notifications/common.ts
  frontend/src/apis/notifications/configuration.ts
  frontend/src/apis/notifications/git_push.sh
  frontend/src/apis/notifications/index.ts
Due: trigger-frontend, trigger-debian-package

chore(linting): add configs and streamline
  .flake8
  .gitlab-ci.yml
  .pre-commit-config-legacy.yaml
  .pre-commit-config.yaml
  .style.yapf
  .yamllint
  33univention-portal.inst
  frontend/sync
  notifications-api/freeze-requirements.sh
  ruff.toml
Due: trigger-notifications-api, trigger-frontend, trigger-debian-package

ci: Remove "frontend/ci"
  frontend/ci/ansible.cfg
  frontend/ci/collections/requirements.yml
  frontend/ci/group_vars/all/ansible.yml
  frontend/ci/group_vars/all/ansible_credentials.yml
  frontend/ci/playbook.yml
Due: trigger-frontend, trigger-debian-package

Bug #57118: Update links from UCS 5.0-6 to UCS 5.0-7
  debian/changelog
Due: trigger-debian-package
