Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

feat(server): Ingress path matches without regular expressions in Helm chart
  helm/portal-server/values.yaml
Due: none

feat(notifications-api): Add support for nginx-ingress to Helm chart
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
Due: none

feat(helm): Roll deployments on config changes
  helm/notifications-api/templates/deployment.yaml
  helm/portal-frontend/templates/deployment.yaml
  helm/portal-server/templates/deployment.yaml
Due: none

fix(helm): Allow to configure resources for the dependency waiters
  helm/portal-listener/README.md
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

fix(helm): change Ingress redirects from absolute to relative to preserve port and schema
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

drop-me ci debugging
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

Bug #55164: Show cookie banner only if configured for current domain
  debian/changelog
  frontend/src/App.vue
  frontend/src/components/globals/CookieBanner.vue
  frontend/src/jsHelper/tools.ts
  frontend/src/store/modules/metaData/index.ts
Due: trigger-frontend, trigger-debian-package

feat: add selfservice ingress routes
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

refactor: remove tests which have been moved to common testing repo
  tests/README.md
  tests/e2e/README.md
  tests/e2e/pytest.ini
  tests/e2e/requirements.txt
  tests/e2e/tests/conftest.py
  tests/e2e/tests/test_i18n.py
  tests/e2e/tests/test_login.py
  tests/e2e/tests/test_notification.py
  tests/e2e/tests/test_selfservice.py
  tests/e2e/tests/test_users_page.py
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

feat(frontend): Make the Portal (browser tab) Title dynamic based on the portal.json
  frontend/src/store/index.ts
Due: trigger-frontend, trigger-debian-package

feat: Adjust to plugin points around the entrypoint scripts
  docker/portal-listener/Dockerfile
  docker/portal-listener/portal-listener-entrypoint.sh
Due: none

fix(portal-server): update base-image path
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

fix(portal-server): test stage and dependencies
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

chore!: migrate notifications-api
  notifications-api/Dockerfile
Due: trigger-notifications-api

chore!: migrate portal-server
  docker/portal-listener/Dockerfile
  docker/portal-server/Dockerfile
  docker/portal-server/requirements.txt
Due: trigger-portal-server, trigger-debian-package

feat(helm): Simplify naming of containers in Pod "portal-listener"
  helm/portal-listener/templates/statefulset.yaml
Due: none

feat(listener): ucs-base entrypoints migration
  docker/portal-listener/Dockerfile
Due: none

Bug #56660: Fix label translation for self-service fields.
  debian/changelog
  frontend/src/views/selfservice/GuardedSite.vue
  frontend/src/views/selfservice/NewPassword.vue
  frontend/src/views/selfservice/PasswordChange.vue
  frontend/src/views/selfservice/VerifyAccount.vue
Due: trigger-frontend, trigger-debian-package

feat(listener): provide values for persistence configuration
  helm/portal-listener/README.md
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

fix(portal): Update file portals.json atomically
  debian/changelog
  univention-portal
Due: trigger-portal-server, trigger-debian-package

fix(listener): new version with unbound variable fix upstream
  docker/portal-listener/Dockerfile
Due: none

fix(listener): remove entrypoint exec chaining in favour of entrypoint.d
  docker/portal-listener/Dockerfile
Due: none

fix(helm): pass storageClass setting properly for statefulset.yaml of `portal-notifier`
  helm/portal-listener/templates/statefulset.yaml
Due: none

fix(helm): add serviceName to StatefulSet, default values used in ConfigMap to empty strings instead of null
  helm/portal-listener/README.md
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

fixup! Bug #56660: Fix label translation for self-service fields.
  debian/changelog
  frontend/src/views/selfservice/Profile.vue
Due: trigger-frontend, trigger-debian-package

chore(deb-build/Docker): update from "phahn/ucs-debbase:503" to "ucs-base-505:v0.7.5"
  docker/deb-build/Dockerfile
Due: none

chore(frontend): switch to ucs-base
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix(frontend): update some packages for yarn
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

chore(docs): Add disclaimer
  README.md
Due: none

chore(deb-build): update nvm from 0.39.2 to 0.39.5 and check the hash
  docker/deb-build/Dockerfile
Due: none

fix(deb-build): add gettext for msgattrib
  docker/deb-build/Dockerfile
Due: none

chore(deb-build): improve apt-get calls
  docker/deb-build/Dockerfile
Due: none

chore(deb-build): pin Debian package versions
  docker/deb-build/Dockerfile
Due: none

feat(frontend): migrate frontend to ucs-base
  docker/deb-build/Dockerfile
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

feat(frontend): migrate frontend to ucs-base
  docker/deb-build/Dockerfile
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix: migration
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix: migration ucs-base-505 frontend
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

chore(frontend): migration ucs-base-505/ucs-base-520 frontend
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

feat(frontend): inject openDesk branding into the container via the helm chart
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

chore(frontend): update helm dependency to get extraVolumes and extraVolumeMounts and from common-helm
  helm/portal-frontend/Chart.lock
  helm/portal-frontend/Chart.yaml
  helm/portal-frontend/README.md
  helm/portal-listener/Chart.yaml
Due: none

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*) or (any of: debian/**/*))
