Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend

trigger-notifications-api:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

fix(frontend): Connect label with the input "password retype"
  frontend/src/components/widgets/NewPasswordBox.vue
Due: trigger-frontend

chore(release): 0.31.2 [skip ci]
  CHANGELOG.md
Due: none

feat: call Python function instead of subprocess
  helm/portal-consumer/Chart.lock
  portal_consumer/consumer.py
  portal_consumer/group_membership_cache.py
  python/univention/portal/cli.py
  python/univention/portal/util.py
  unittests/test_consumer.py
  unittests/test_util.py
  univention-portal
Due: none

feat: log processing time
  docker/portal-consumer/Dockerfile
  docker/portal-consumer/requirements.txt
  portal_consumer/__init__.py
  portal_consumer/consumer.py
  portal_consumer/group_membership_cache.py
  unittests/test_consumer.py
Due: none

chore(release): 0.32.0 [skip ci]
  CHANGELOG.md
Due: none

feat(notifications-api): Add certManager template for ingress
  helm/notifications-api/README.md
  helm/notifications-api/templates/extraIngresses.yaml
  helm/notifications-api/templates/ingress.yaml
  helm/notifications-api/values.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/templates/ingresses.yaml
  helm/portal-frontend/values.yaml
  helm/portal-server/README.md
  helm/portal-server/templates/extraIngresses.yaml
  helm/portal-server/templates/ingress.yaml
  helm/portal-server/values.yaml
Due: none

chore(release): 0.33.0 [skip ci]
  CHANGELOG.md
Due: none

build: Updadte linter_values so that "helm template" can be used
  helm/portal-server/linter_values.yaml
Due: none

fix(portal-server): Correct the ingress annotation handling
  helm/portal-server/templates/ingress.yaml
Due: none

chore(release): 0.33.1 [skip ci]
  CHANGELOG.md
Due: none

feat(portal-consumer): Add extraVolumes option
  helm/portal-consumer/README.md
  helm/portal-consumer/templates/statefulset.yaml
  helm/portal-consumer/values.yaml
Due: none

chore(release): 0.34.0 [skip ci]
  CHANGELOG.md
Due: none

feat(portal-listener): Add the listener code again to be able to release fixes
  docker/portal-listener/Dockerfile
  docker/portal-listener/initialize.sh
  docker/portal-listener/portal-listener-entrypoint.sh
  docker/portal-listener/stub_portals.json
  helm/portal-listener/.gitignore
  helm/portal-listener/.helmignore
  helm/portal-listener/Chart.lock
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
  helm/portal-listener/README.md.gotmpl
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/NOTES.txt
  helm/portal-listener/templates/_helpers.tpl
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
  portal-server/.gitlab-ci.yml
Due: none

fix(portal-listener): Set TEMPDIR to avoid tracebacks
  helm/portal-listener/templates/configmap.yaml
Due: none

feat: unify UCR configuration
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

chore(release): 0.35.0 [skip ci]
  CHANGELOG.md
Due: none

fix(portal-consumer): update nubus-provisioning-consumer to use ProvisioningMessage model
  docker/portal-consumer/requirements.txt
  portal_consumer/consumer.py
  portal_consumer/group_membership_cache.py
Due: none

chore(release): 0.35.1 [skip ci]
  CHANGELOG.md
Due: none

Issue univention/ucs#2416: support oidc in portal login
  debian/changelog
  debian/univention-portal.univention-config-registry-variables
  frontend/src/jsHelper/login.ts
Due: trigger-frontend

feat: added enable flag to default portal login
  udm/udm-data-loader/02-portal-content.yaml
Due: none

chore(release): 0.36.0 [skip ci]
  CHANGELOG.md
Due: none

feat(portal-consumer): avoid leak secrets
  helm/portal-consumer/templates/configmap.yaml
Due: none

chore(release): 0.37.0 [skip ci]
  CHANGELOG.md
Due: none

Bug #57562: default false for portal/reload-tabs-on-logout
  debian/changelog
  debian/univention-portal.univention-config-registry-variables
Due: none

feat(portal-extension): Activate or deactivate UMC login tile on job rerun
  udm/udm-data-loader/02-portal-content.yaml
Due: none

chore(release): 0.38.0 [skip ci]
  CHANGELOG.md
Due: none

fix(portal-server): Remove apt update from Dockerfile to make builds reproducible
  docker/portal-server/Dockerfile
Due: none

fix(portal-consumer): Move initial-values loading into the main container to only do it after recieving the first message
  docker/portal-consumer/Dockerfile
  docker/portal-consumer/initialize.sh
  helm/portal-consumer/templates/statefulset.yaml
  portal_consumer/consumer.py
Due: none

chore(release): 0.38.1 [skip ci]
  CHANGELOG.md
Due: none

fix(portal-consumer): improve wait-for-provisioning-api to wait until the user/subscription is created
  helm/portal-consumer/templates/configmap.yaml
  helm/portal-consumer/templates/statefulset.yaml
  helm/portal-consumer/wait-for-provisioning-api.sh
Due: none

refactor(portal-consumer): move script into configmaps and other small tweaks
  helm/portal-consumer/templates/configmap.yaml
  helm/portal-consumer/templates/statefulset.yaml
  helm/portal-consumer/wait-for-provisioning-api.sh
Due: none

chore(release): 0.38.2 [skip ci]
  CHANGELOG.md
Due: none

fix(frontend): Remove call which installs packages from Dockerfile
  frontend/Dockerfile
Due: trigger-frontend

fix(frontend): Update caniuse-lite to version 1.0.3.0001660
  frontend/yarn.lock
Due: trigger-frontend

fix(frontend): Correctly fill aria-label in NewPasswordBox
  frontend/src/components/widgets/NewPasswordBox.vue
Due: trigger-frontend

chore(release): 0.38.3 [skip ci]
  CHANGELOG.md
Due: none

feat: update UCS base image to 2024-09-09
  docker/deb-builder/Dockerfile
  docker/portal-consumer/Dockerfile
  docker/portal-extension/Dockerfile
  docker/portal-server/Dockerfile
  frontend/Dockerfile
  notifications-api/Dockerfile
Due: trigger-notifications-api, trigger-frontend

feat: upgrade container-nginx
  frontend/Dockerfile
Due: trigger-frontend

feat: upgrade wait-for-dependency
  helm/portal-consumer/README.md
  helm/portal-consumer/values.yaml
Due: none

* feat: upgrade container-nginx
  docker/deb-builder/Dockerfile
  docker/portal-consumer/Dockerfile
  docker/portal-extension/Dockerfile
  docker/portal-server/Dockerfile
  frontend/Dockerfile
  helm/portal-consumer/README.md
  helm/portal-consumer/values.yaml
  notifications-api/Dockerfile
Due: trigger-notifications-api, trigger-frontend

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
