Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

fix(deps): update all dependencies
  docker/docker-compose.yaml
  docker/keycloak/Dockerfile
  docker/portal-consumer/requirements.txt
  frontend/package.json
  frontend/yarn.lock
  helm/notifications-api/Chart.yaml
  helm/notifications-api/values.yaml
  notifications-api/docker-compose.yml
  notifications-api/requirements-dev.txt
  notifications-api/requirements.txt
  requirements-test.txt
  requirements.txt
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(server): missing dependencies file for Trivy
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

feat: add Keycloak portal entry
  helm/portal-server/README.md
  helm/portal-server/values.yaml
  udm/udm-data-loader/02-portal-content.yaml
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.42.3 [skip ci]
  CHANGELOG.md
Due: none

feat: add Keycloak portal entry
  udm/udm-data-loader/02-portal-content.yaml
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.43.0 [skip ci]
  CHANGELOG.md
Due: none

feat(consumer): Add partial support of new secrets handling around provisioningApi.auth
  helm/portal-consumer/templates/_helpers.tpl
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.44.0 [skip ci]
  CHANGELOG.md
Due: none

fix: add digest to wait-for-dependency image tag
  helm/portal-consumer/README.md
  helm/portal-consumer/values.yaml
  python/univention/portal/util.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.44.1 [skip ci]
  CHANGELOG.md
Due: none

fix: fix license information of trademarked images
  helm/portal-frontend/branding/custom.css
  helm/portal-frontend/branding/favicon.ico.license
  helm/portal-frontend/branding/logo.svg.license
  udm/udm-data-loader/02-portal-content.yaml
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

chore(release): 0.44.2 [skip ci]
  CHANGELOG.md
Due: none

fix: Fix umc portal tile link
  udm/udm-data-loader/02-portal-content.yaml
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.44.3 [skip ci]
  CHANGELOG.md
Due: none

build(frontend): Update core-js to version 3.38.1
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

build(frontend): Yarn upgrade vue from 3.0 to 3.5 - still not functional
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

build(frontend): Update via "vue upgrade" - not yet functional
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

test(frontend): E2e tests style adjustments to catch up with eslint configuration
  frontend/tests/e2e/specs/TestChooseTabButton.js
  frontend/tests/e2e/specs/TestEditModeSideNavigation.js
  frontend/tests/e2e/specs/TestPortalError.js
  frontend/tests/e2e/specs/TestPortalLanding.js
  frontend/tests/e2e/specs/TestSearch.js
  frontend/tests/e2e/specs/TestTabs.js
Due: trigger-frontend, trigger-debian-package

build(frontend): Configure css-loader, so that it does not parse the paths in "url()"
  frontend/vue.config.js
Due: trigger-frontend, trigger-debian-package

build(frontend): Add postcss-preset-env ^9, missing module
  frontend/package.json
  frontend/yarn.lock
Due: trigger-frontend, trigger-debian-package

refactor(frontend): Add type assertion around this.$props to be able to use spread operator
  frontend/src/components/PortalFolder.vue
Due: trigger-frontend, trigger-debian-package

fix(portal): add pre-commit config
  .flake8
  .pre-commit-config.yaml
Due: none

fix(portal): fix linter issues
  frontend/builder/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix(portal): Create REVIEW.md for review guidelines
  REVIEW.md
Due: none

fix(portal): work on review findings
  frontend/REVIEW.md
Due: trigger-frontend, trigger-debian-package

fix(portal): introduced issue template
  .gitlab/issue_templates/default.md
Due: none

test(portal-server): Fix ComplexInput typescript error
  src/jsHelper/forms.ts
Due: none

fix(portal): fix storybook issues with password box
  package.json
  src/components/forms/FormElement.vue
  src/jsHelper/forms.ts
  src/views/selfservice/CreateAccount.vue
  src/views/selfservice/NewPassword.vue
  src/views/selfservice/PasswordChange.vue
Due: none

ci: Enable linter in gitlab ci
  docker/linter-pre-commit/Dockerfile
Due: none

style(frontend): Automatic whitespace cleanup by pre-commit linter
  ci/playbook.yml
  frontend/REVIEW.md
  public/data/dark.css
  stories/KeyboardA11y.stories.mdx
  stories/Portal.stories.mdx
  stories/Roadmap.stories.mdx
  stories/Screenreader.stories.mdx
  stories/components/ChooseTabs.stories.js
  stories/components/PortalHeader.stories.js
  stories/components/PortalToolTip.stories.js
  stories/components/activity/TabindexElement.stories.mdx
  stories/components/forms/ReadOnlyField.stories.mdx
  stories/components/globals/IconButton.stories.js
  stories/widgets/Grid.stories.ts
  stories/widgets/Overview.stories.mdx
  stories/widgets/Tabs.stories.ts
  stories/widgets/TextBox.stories.js
  tests/unit/widgets/NewPasswordBox.spec.js
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

cleanup(frontend): Remove frontend/builder
  README.md
Due: none

linter: Update flake8
  .pre-commit-config.yaml
Due: none

linter: Exclude the linter Dockerfile from dockerfilelint
  .pre-commit-config.yaml
Due: none

refactor(portal-backend): change logging to stdout exclusively in container
  python/univention/portal/log.py
  univention-portal-server
Due: trigger-portal-server, trigger-debian-package

ci(linter): Add repository to check conventional commits
  .pre-commit-config.yaml
Due: none

ci(linter): Update the link to the upstream repository for docker-compose-check
  .pre-commit-config.yaml
Due: none

docs(linter): Add hints for developers who have to work with the linting container
  docker/linter-pre-commit/README.md
Due: none

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*, helm/notifications-api/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*, helm/portal-frontend/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, docker/portal-consumer/**/*, docker/portal-extension/**/*, helm/portal-server/**/*, helm/portal-consumer/**/*, portal_consumer/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, docker/portal-consumer/**/*, docker/portal-extension/**/*, helm/portal-server/**/*, helm/portal-consumer/**/*, portal_consumer/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*, helm/portal-frontend/**/*) or (any of: debian/**/*))
