Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

.gitlab-ci.yml:

---

variables:
  SOUVAP_HELM_PROJECT_ID: 155
  SOUVAP_REGISTRY_PATH: souvap/tooling/images/univention


include:
  - project: "univention/customers/dataport/upx/common-ci"
    ref: "v0.5.0"
    file:
      - "defaults/stages.yaml"
      - "defaults/souvap-workflow.yaml"
      - "templates/semantic-release-env.yaml"
      - "templates/souvap.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/package-and-publish-helm-charts.yaml"


lint-pre-commit:
  before_script:
    # Compose lint would fail without the referenced env files
    - cp docker/.env.example docker/.env
    - cp docker/.env.keycloak.example docker/.env.keycloak
    - cp docker/.env.listener.example docker/.env.listener
    - cp docker/.env.umc-gateway.example docker/.env.umc-gateway
    - cp docker/.env.umc-server.example docker/.env.umc-server
    - helm repo add bitnami https://charts.bitnami.com/bitnami


pre-semantic-release:
  extends: ".pre-semantic-release"


trigger-notifications-api:
  stage: trigger
  needs:
    - job: "pre-semantic-release"
      artifacts: true
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: depend
    include:
      - local: 'notifications-api/.gitlab-ci.yml'
  rules:
    - changes:
        - 'notifications-api/**/*'
        - 'tests/**/*'


trigger-frontend:
  stage: trigger
  needs:
    - job: "pre-semantic-release"
      artifacts: true
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: depend
    include:
      - local: 'frontend/.gitlab-ci.yml'
  rules:
    - changes: &portal-frontend-changes
        - 'frontend/**/*'
        - 'tests/**/*'


trigger-portal-server:
  stage: trigger
  needs:
    - job: "pre-semantic-release"
      artifacts: true
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: depend
    include:
      - local: 'portal-server/.gitlab-ci.yml'
  rules:
    - changes: &portal-server-changes
        - 'docker/portal-server/**/*'
        - 'docker/portal-listener/**/*'
        - 'listener/**/*'
        - 'portal-server/**/*'
        - 'python/**/*'
        - 'setup.py'
        - 'tests/**/*'
        - 'udm/**/*'
        - 'unittests/**/*'
        - 'univention-portal'
        - 'univention-portal-server'


# TODO: Pending removal. This can be removed once the ucs-machine (VMs) are not
# used anymore. Usage in the dev environment and in the SouvAP deployment.
trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
      - local: '.gitlab-ci.debian.yml'
  rules:
    - changes: *portal-server-changes
    - changes: *portal-frontend-changes
    - changes:
        - 'debian/**/*'


package-helm-charts:
  needs:
    - job: "pre-semantic-release"
      artifacts: true


publish-helm-charts-souvap:
  extends: .publish-helm-charts-souvap

...

fix(portal-server): filter urls for passwords before logging them
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/cache_http.py
  python/univention/portal/extensions/reloader_content.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.5.2
  CHANGELOG.md
Due: none

Bug #56349: The deletion of a user's profile picture via self-service has been repaired
  debian/changelog
  frontend/src/views/selfservice/Profile.vue
  frontend/src/views/selfservice/helper.ts
Due: trigger-frontend, trigger-debian-package

fix(helm): handle `/univention/selfservice` portal
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

feat(listener): add selfservice portal
  docker/portal-listener/Dockerfile
  docker/portal-listener/portal-listener-entrypoint.sh
  docker/portal-listener/stub_portals.json
  docker/portal-server/docker-entrypoint.sh
  docker/portal-server/stub_portals.json
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
  helm/portal-server/README.md
  helm/portal-server/values.yaml
  helm/values-portal-listener.example.yaml
  python/univention/portal/extensions/cache_http.py
  unittests/test_cache_http.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.6.0
  CHANGELOG.md
Due: none

chore(release): 0.6.1
  CHANGELOG.md
Due: none

feat(wait-for-dependency): migrate to ucs-base
  docker/wait-for-dependency/Dockerfile
Due: none

chore(release): 0.7.0
  CHANGELOG.md
Due: none

test: Add coverage for existing code in start_app
  unittests/test_main.py
Due: trigger-portal-server, trigger-debian-package

refactor(server): Move the configuration of the Application object into function
  python/univention/portal/main.py
  univention-portal-server
Due: trigger-portal-server, trigger-debian-package

refactor(server): Move code from script into functions to ease testing
  python/univention/portal/main.py
  univention-portal-server
Due: trigger-portal-server, trigger-debian-package

refactor(server): Use a module level logger variable in the main module
  python/univention/portal/main.py
Due: trigger-portal-server, trigger-debian-package

refactor(server): Use the message formatting API of the logging module
  python/univention/portal/main.py
Due: trigger-portal-server, trigger-debian-package

refactor(server): Improve naming of functions in the main module
  python/univention/portal/main.py
  univention-portal-server
Due: trigger-portal-server, trigger-debian-package

feat: Add support for "enable_xheaders"
  conffiles/usr/lib/univention-portal/config/config.json
  docker/portal-server/docker-entrypoint.sh
  python/univention/portal/main.py
  unittests/test_main.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.8.0
  CHANGELOG.md
Due: none

feat(frontend): serve from ums-nginx
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

chore(release): 0.9.0
  CHANGELOG.md
Due: none

chore(ci): reference new common-ci (v1.9.7)
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  .releaserc.yaml
  docker/deb-builder/Dockerfile
  docker/deb-builder/README.md
  docker/docker-compose.yaml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

Bug #56832: UCS 5.0-6 version bump
  debian/changelog
Due: trigger-debian-package

fix(frontend): Upgrade Nginx base image to 0.1.1
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

chore(release): 0.9.1 [skip ci]
  CHANGELOG.md
Due: none

Bug #56853: Fix label translation for self-service fields.
  debian/changelog
  frontend/src/views/selfservice/NewPassword.vue
Due: trigger-frontend, trigger-debian-package

fix(ci): add Helm chart signing and publishing to souvap via OCI, common-ci 1.12.x
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore(release): 0.9.2 [skip ci]
  CHANGELOG.md
Due: none

feat: bump version to UCS 5.0-6
  docker/portal-listener/Dockerfile
  docker/portal-server/Dockerfile
  frontend/Dockerfile
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

fix(docker): update ucs-base from 5.0-5 to 5.0-6
  docker/deb-builder/Dockerfile
  docker/portal-listener/Dockerfile
  docker/portal-server/Dockerfile
  docker/wait-for-dependency/Dockerfile
  frontend/Dockerfile
  notifications-api/Dockerfile
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore(release): 0.9.3 [skip ci]
  CHANGELOG.md
Due: none

feat(wait-for-dependency): add wait for postgresql capability to the container
  .gitlab-ci.yml
  docker/wait-for-dependency/Dockerfile
Due: none

chore(release): 0.9.4 [skip ci]
  CHANGELOG.md
Due: none

fix(deps): add renovate.json
  renovate.json
Due: none

chore(release): 0.9.5 [skip ci]
  CHANGELOG.md
Due: none

ci: Correct pipeline configuration to avoid making the linter optional
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

feat(portal-frontend): Do not define resources by default
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

fix(portal-listener): Do not bundle store-dav in linter_values
  helm/portal-listener/linter_values.yaml
Due: none
