Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

.gitlab-ci.yml:

---

variables:
  SOUVAP_HELM_PROJECT_ID: 75
  SOUVAP_REGISTRY_PATH: souvap/tooling/images/univention-portal


include:
  - project: univention/customers/dataport/upx/common-ci
    ref: dchakravorty/issue-732-e2e-test-scheduled-pipeline
    file:
      - defaults/stages.yaml
      - defaults/souvap-workflow.yaml
      - templates/souvap.yaml
      - jobs/lint-commit-messages.yaml
      - jobs/lint-pre-commit.yaml
      - jobs/package-and-publish-helm-charts.yaml


lint-pre-commit:
  before_script:
    # Compose lint would fail without the referenced env files
    - cp docker/.env.example docker/.env
    - cp docker/.env.keycloak.example docker/.env.keycloak
    - cp docker/.env.listener.example docker/.env.listener
    - cp docker/.env.umc-gateway.example docker/.env.umc-gateway
    - cp docker/.env.umc-server.example docker/.env.umc-server
    - helm repo add bitnami https://charts.bitnami.com/bitnami


trigger-notifications-api:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
      - local: 'notifications-api/.gitlab-ci.yml'
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "e2e"
      when: never
    - changes:
        - 'notifications-api/**/*'
        - 'tests/**/*'


trigger-frontend:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
      - local: 'frontend/.gitlab-ci.yml'
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "e2e"
      when: never
    - changes: &portal-frontend-changes
        - 'frontend/**/*'
        - 'tests/**/*'


trigger-portal-server:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
      - local: 'portal-server/.gitlab-ci.yml'
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "e2e"
      when: never
    - changes: &portal-server-changes
        - 'docker/portal-server/**/*'
        - 'listener/**/*'
        - 'portal-server/**/*'
        - 'python/**/*'
        - 'setup.py'
        - 'tests/**/*'
        - 'udm/**/*'
        - 'unittests/**/*'
        - 'univention-portal'
        - 'univention-portal-server'


# TODO: Pending removal. This can be removed once the ucs-machine (VMs) are not
# used anymore. Usage in the dev environment and in the SouvAP deployment.
trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
      - local: '.gitlab-ci.debian.yml'
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "e2e"
      when: never
    - changes: *portal-server-changes
    - changes: *portal-frontend-changes
    - changes:
        - 'debian/**/*'


# TODO: Remove once we drop this job from common-ci
publish-helm-charts:
  rules:
    - when: never


publish-helm-charts-souvap:
  extends: .publish-helm-charts-souvap
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "e2e"
      when: never
    - when: on_success


e2e-tests:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
      - local: 'tests/.gitlab-ci.yml'
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "e2e"

...

build: add service for e2e tests
  docker/docker-compose.yaml
Due: none

build: add additional dependencies for starting the portal to the e2e test service
  docker/docker-compose.yaml
Due: none

ci: Update e2e tests scheduled pipeline to match latest dev env
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: Make sure .env.* files are created before running the first compose command
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: Test Gitlab runner's domain name setting
  .gitlab-ci.yml
Due: none

ci: Fix /etc/hosts so that `hostname -d` works
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: don't change inode for file mounted by docker
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: give read permissions to secret files
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: test current working directory
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: give 755 permissions to secret files
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: allow version negotiation
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(ansible): add /etc/hosts entry to portal-listener-init
  ansible/templates/docker-compose.override.yaml.j2
Due: none

ci: Docker API version 1.43
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: exchange secrets
  docker/docker-compose.yaml
Due: none

ci: use docker api version 1.41
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore: update Ansible and Docker env for umc-gateway changes
  ansible/templates/dotenv.umc-gateway.j2
  docker/.env.umc-gateway.example
Due: none

ci: Update to recent common-ci
  .gitlab-ci.yml
Due: none

feat: Package UDM extensions in a container image
  docker/portal-udm-extensions/Dockerfile
  docker/portal-udm-extensions/README.md
Due: none

ci: Build portal-udm-extensions as container image
  docker/portal-udm-extensions/Dockerfile
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

ci: Fix Dockefile of portal-listener to work with recent kaniko builder
  docker/portal-listener/Dockerfile
Due: none

refactor: Remove unused variables from joinscript
  33univention-portal.inst
Due: none

refactor(playwright): extract login/logout assertion into HomePage classes
  tests/e2e/README.md
  tests/e2e/src/pages/portal/common/portal_page.py
  tests/e2e/src/pages/portal/home_page/logged_in.py
  tests/e2e/src/pages/portal/home_page/logged_out.py
  tests/e2e/src/pages/portal/login_page.py
  tests/e2e/tests/test_login.py
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

test(portal): add saml login / logout tests and ucs logout test
  docker/docker-compose.yaml
  tests/e2e/pyproject.toml
  tests/e2e/src/pages/portal/common/portal_page.py
  tests/e2e/src/pages/portal/home_page/logged_out.py
  tests/e2e/src/pages/portal/login_page.py
  tests/e2e/tests/conftest.py
  tests/e2e/tests/test_login.py
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(portal): HTTPS detection when acessing navigation.json endpoint behind UCS apache reverse proxy
  debian/changelog
  python/univention/portal/handlers/portal_resource.py
Due: trigger-portal-server, trigger-debian-package

feat: Package icons into join data
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

feat: Add joinscript data into portal-udm-extensions
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

feat: Generate join data as template to support setting "ldap_base"
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

refactor: remove pages package and depend on playwright-pages-ucs-portal
  tests/e2e/requirements.txt
  tests/e2e/tests/test_i18n.py
  tests/e2e/tests/test_login.py
  tests/e2e/tests/test_notification.py
  tests/e2e/tests/test_selfservice.py
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

refactor: update documentation
  tests/e2e/README.md
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

refactor: pytest related config moves to pytest.ini since we don't need pyproject.toml anymore
  tests/e2e/pytest.ini
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

refactor: replace local package "pages" with playwright_pages_ucs_portal
  tests/e2e/pyproject.toml
  tests/e2e/requirements.txt
  tests/e2e/requirements_test.txt
  tests/e2e/src/pages/__init__.py
  tests/e2e/src/pages/base.py
  tests/e2e/src/pages/portal/__init__.py
  tests/e2e/src/pages/portal/common/__init__.py
  tests/e2e/src/pages/portal/common/cookie_dialog.py
  tests/e2e/src/pages/portal/common/header.py
  tests/e2e/src/pages/portal/common/notifications.py
  tests/e2e/src/pages/portal/common/portal_page.py
  tests/e2e/src/pages/portal/common/right_side_menu.py
  tests/e2e/src/pages/portal/exceptions.py
  tests/e2e/src/pages/portal/home_page/__init__.py
  tests/e2e/src/pages/portal/home_page/base.py
  tests/e2e/src/pages/portal/home_page/logged_in.py
  tests/e2e/src/pages/portal/home_page/logged_out.py
  tests/e2e/src/pages/portal/login_page.py
  tests/e2e/src/pages/portal/selfservice/__init__.py
  tests/e2e/src/pages/portal/selfservice/change_password.py
  tests/e2e/src/pages/portal/users/__init__.py
  tests/e2e/src/pages/portal/users/users_page.py
  tests/e2e/tests/conftest.py
  tests/e2e/tests/test_i18n.py
  tests/e2e/tests/test_login.py
  tests/e2e/tests/test_notification.py
  tests/e2e/tests/test_selfservice.py
  tests/e2e/tests/test_users_page.py
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore: tag listener base image
  docker/portal-listener/Dockerfile
Due: none

feat: Provide "START_TLS" environment variable in portal-listener helm chart
  helm/portal-listener/README.md
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
Due: none

feat: Provide TLS_REQCERT in the portal listener
  helm/portal-listener/README.md
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
Due: none

fix: Correct "image" setting in portal-listener Helm chart
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
Due: none

feat: Remove ServiceAccount from Helm chart of portal-listener
  helm/portal-listener/README.md
  helm/portal-listener/templates/serviceaccount.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

refactor(helm): switch var-names to camelCase
  helm/notifications-api/README.md
  helm/notifications-api/linter_values.yaml
  helm/notifications-api/templates/configmap.yaml
  helm/notifications-api/templates/virtualservice.yaml
  helm/notifications-api/values.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/linter_values.yaml
  helm/portal-frontend/templates/configmap.yaml
  helm/portal-frontend/values.yaml
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
  helm/portal-server/README.md
  helm/portal-server/linter_values.yaml
  helm/portal-server/templates/configmap.yaml
  helm/portal-server/values.yaml
  helm/values-frontend.yaml.example
  helm/values-notifications-api.yaml.example
  helm/values-portal-listener.example.yaml
  helm/values-server.yaml.example
Due: none

refactor(helm): Use common-helm as dependency for common
  helm/notifications-api/Chart.lock
  helm/notifications-api/Chart.yaml
  helm/notifications-api/README.md
  helm/portal-frontend/Chart.lock
  helm/portal-frontend/Chart.yaml
  helm/portal-frontend/README.md
  helm/portal-server/Chart.lock
  helm/portal-server/Chart.yaml
  helm/portal-server/README.md
Due: none

refactor(helm): replace `LDAP_BIND_SECRET` with `LDAP_PASSWORD*`
  docker/.env.listener.example
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/values.yaml
Due: none
