Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
    PUBLIC_RELEASE: ${PUBLIC_RELEASE}
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

feat(portal-frontend): Dockerfile for frontend build
  docker/frontend/Dockerfile
Due: none

ci(linter): Have docker-compose available in the pre-commit container
  docker/linter-pre-commit/Dockerfile
Due: none

refactor(portal-frontend): move static frontend assets to Dockerfile directory
  docker/frontend/Dockerfile
  docker/frontend/assets/key.svg
  docker/frontend/assets/login.svg
  docker/frontend/assets/univention-blog.png
  docker/frontend/assets/univention-management-console.svg
Due: none

feat(portal-backend): Run the univention-portal-server inside a docker container
  docker/portal-server/Dockerfile
  docker/portal-server/stub_config.json
  docker/portal-server/stub_groups.json
  docker/portal-server/stub_portal.json
  requirements-slim.txt
  requirements.txt
Due: trigger-portal-server, trigger-debian-package

build: Allow to run the portal via docker compose
  README.dev.md
  docker/.env.portal-server.example
  docker/docker-compose.yaml
Due: none

test: Avoid dependency on univentionunittests
  unittests/conftest.py
  unittests/test_authenticator.py
  unittests/test_config.py
  unittests/test_dynamic_portal.py
  unittests/test_log.py
Due: trigger-portal-server, trigger-debian-package

test: Add a stage "test" into the dockerfile
  docker/portal-server/Dockerfile
  requirements-test.txt
Due: trigger-portal-server, trigger-debian-package

test: Add a new service "test" into the docker compose configuration
  docker/docker-compose.yaml
Due: none

docs: Add note into README how to run the test suite of portal server
  README.dev.md
Due: none

ci(linter): Drop dockerfilelint
  .pre-commit-config.yaml
Due: none

refactor(portal-backend): replace univention.udm with univention.admin.rest.client
  debian/control
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-backend): changed method api and naming of local variables in PortalReloaderUDM._write_image
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-backend): use classmethod where applicable in PortalReloaderUDM
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

build(portal-server): Make udm rest client available in build-base
  docker/docker-compose.yaml
  docker/portal-server/Dockerfile
  docker/portal-server/sources.list
Due: trigger-portal-server, trigger-debian-package

feat(portal-backend): load credentials for UDM API from config
  docker/portal-server/Dockerfile
  docker/portal-server/machine.secret
  docker/portal-server/stub_config.json
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

docs(adr): add ADR for using FastAPI
  doc/decisions/notifications/0000-fastapi-for-notification-service.md
Due: none

chore(portal-backend): remove whitespace
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

docs(adr): Add decision when to use Debian base images
  doc/decisions/0001-use-debian-base-image.md
Due: none

docs(adr): use architecture decision records
  doc/decisions/0000-use-architectural-decision-records-adrs.md
Due: none

build: Use debian as a base image
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

ci(linter): Make it easy to run the linter container locally
  README.dev.md
  docker/docker-compose.yaml
Due: none

fix: incompatible data structure for entry links
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

fix(notification-api): Regenerated the initial alembic migration
  notifications-api/migrations/versions/7e3f5108c506_add_notifications_table.py
  notifications-api/migrations/versions/c83d839fbaad_create_table_notification.py
Due: trigger-notifications-api

chore(notification-api): Ignore the database file
  notifications-api/.gitignore
Due: trigger-notifications-api

fix(notification-api): Enforce stream event data to be JSON
  notifications-api/app/api/v1/api.py
  notifications-api/tests/test_notification_api.py
Due: trigger-notifications-api

test(notification-api): Move fixtures into conftest.py
  notifications-api/tests/conftest.py
  notifications-api/tests/test_notification_api.py
  notifications-api/tests/test_notification_service.py
Due: trigger-notifications-api

style(notification-api): Remove commented code in api.py
  notifications-api/app/api/api.py
Due: trigger-notifications-api

test(notification-api): Document fixtures
  notifications-api/tests/conftest.py
Due: trigger-notifications-api

build(notification-api): Remove local flake8 configuration
  notifications-api/.flake8
Due: trigger-notifications-api

feat(notifications-api): Python backend implementation base
  notifications-api/.dockerignore
  notifications-api/.flake8
  notifications-api/.gitignore
  notifications-api/Dockerfile
  notifications-api/README.md
  notifications-api/alembic.ini
  notifications-api/app/__init__.py
  notifications-api/app/api/__init__.py
  notifications-api/app/api/api.py
  notifications-api/app/api/auth.py
  notifications-api/app/api/v1/__init__.py
  notifications-api/app/api/v1/api.py
  notifications-api/app/core/__init__.py
  notifications-api/app/core/config.py
  notifications-api/app/core/errors.py
  notifications-api/app/core/logging.py
  notifications-api/app/core/util.py
  notifications-api/app/crud/notification_service.py
  notifications-api/app/db/__init__.py
  notifications-api/app/db/db.py
  notifications-api/app/main.py
  notifications-api/app/models/__init__.py
  notifications-api/app/models/notification_model.py
  notifications-api/docker-compose.yml
  notifications-api/migrations/README
  notifications-api/migrations/env.py
  notifications-api/migrations/script.py.mako
  notifications-api/migrations/seed.py
  notifications-api/migrations/versions/c83d839fbaad_create_table_notification.py
  notifications-api/poetry.lock
  notifications-api/pyproject.toml
  notifications-api/tests/.gitignore
  notifications-api/tests/test_notification_api.py
Due: trigger-notifications-api

style(notification-api): Remove stale comment in db.py
  notifications-api/app/db/db.py
Due: trigger-notifications-api

test(notification-api): Move db into db related fixtures
  notifications-api/tests/conftest.py
Due: trigger-notifications-api

refactor(notification-api): Remove say_hello edpoint
  notifications-api/app/api/v1/api.py
  notifications-api/tests/test_notification_api.py
Due: trigger-notifications-api

docs(notification-api): Add example curl command to create a notification
  notifications-api/README.md
Due: trigger-notifications-api

build(notification-api): Add ipdb and pytest into the dev environment
  notifications-api/poetry.lock
  notifications-api/pyproject.toml
Due: trigger-notifications-api

build(notification-api): Add pytest-asyncio
  notifications-api/poetry.lock
  notifications-api/pyproject.toml
Due: trigger-notifications-api

fix(notification-api): fix up python code regarding notification api
  notifications-api/app/api/__init__.py
  notifications-api/app/api/v1/__init__.py
  notifications-api/app/db/__init__.py
  notifications-api/app/main.py
Due: trigger-notifications-api

refactor(notification-api): Use Enum value
  notifications-api/app/api/v1/api.py
Due: trigger-notifications-api

docs(notification-api): Document how to run the API locally
  notifications-api/README.md
Due: trigger-notifications-api

refactor(notification-api): Limit seed script to one notification
  notifications-api/migrations/seed.py
Due: trigger-notifications-api

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*, helm/notifications-api/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*, helm/portal-frontend/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, docker/portal-consumer/**/*, docker/portal-extension/**/*, helm/portal-server/**/*, helm/portal-consumer/**/*, portal_consumer/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, docker/portal-consumer/**/*, docker/portal-extension/**/*, helm/portal-server/**/*, helm/portal-consumer/**/*, portal_consumer/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*, helm/portal-frontend/**/*) or (any of: debian/**/*))
