Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

build(listener): Fix example values for listener helm chart
  helm/values-portal-listener.example.yaml
Due: none

build(server): Roll deployment if the configmap changed
  helm/portal-server/templates/deployment.yaml
Due: none

Bug #55175: Adjust style for Announcement.vue
  frontend/src/components/PortalHeader.vue
  frontend/src/components/widgets/Announcement.vue
  frontend/src/store/modules/portalData/portalData.models.ts
Due: trigger-frontend, trigger-debian-package

Bug #55175: Debian changelog
  debian/changelog
Due: trigger-debian-package

Bug #55175: fix writing icons
  debian/changelog
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

Bug #55175: No announcements for the virtual UMC portal
  debian/changelog
  python/univention/portal/extensions/portal.py
Due: trigger-portal-server, trigger-debian-package

ci: Use default stage configuration from common-ci
  .gitlab-ci.yml
Due: none

ci: Use template ".publish-helm-charts-souvap" for chart publication
  .gitlab-ci.yml
Due: none

ci: Refactor souvap related publish jobs, drop CI_REGISTRY_IMAGE variable
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci(listener): Publish portal-listener image to SouvAP
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

Bug #55175: Adjust style of Announcement.vue (2)
  frontend/src/components/PortalHeader.vue
  frontend/src/components/widgets/Announcement.vue
Due: trigger-frontend, trigger-debian-package

refactor: replace local package "pages" with playwright_pages_ucs_portal
  tests/e2e/pyproject.toml
  tests/e2e/requirements.txt
  tests/e2e/requirements_test.txt
  tests/e2e/src/pages/__init__.py
  tests/e2e/src/pages/base.py
  tests/e2e/src/pages/portal/__init__.py
  tests/e2e/src/pages/portal/common/__init__.py
  tests/e2e/src/pages/portal/common/cookie_dialog.py
  tests/e2e/src/pages/portal/common/header.py
  tests/e2e/src/pages/portal/common/notifications.py
  tests/e2e/src/pages/portal/common/portal_page.py
  tests/e2e/src/pages/portal/common/right_side_menu.py
  tests/e2e/src/pages/portal/exceptions.py
  tests/e2e/src/pages/portal/home_page/__init__.py
  tests/e2e/src/pages/portal/home_page/base.py
  tests/e2e/src/pages/portal/home_page/logged_in.py
  tests/e2e/src/pages/portal/home_page/logged_out.py
  tests/e2e/src/pages/portal/login_page.py
  tests/e2e/src/pages/portal/selfservice/__init__.py
  tests/e2e/src/pages/portal/selfservice/change_password.py
  tests/e2e/src/pages/portal/users/__init__.py
  tests/e2e/src/pages/portal/users/users_page.py
  tests/e2e/tests/conftest.py
  tests/e2e/tests/test_i18n.py
  tests/e2e/tests/test_login.py
  tests/e2e/tests/test_notification.py
  tests/e2e/tests/test_selfservice.py
  tests/e2e/tests/test_users_page.py
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

feat(listener): Set REQUESTS_CA_BUNDLE
  docker/portal-listener/portal-listener-entrypoint.sh
Due: none

tmp - use based listener from branch
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

build(listener): Set image pull policy correctly
  helm/portal-listener/values.yaml
Due: none

feat(listener): Log exception if UDM connection fails
  python/univention/portal/extensions/reloader_content.py
Due: trigger-portal-server, trigger-debian-package

chore: remove `auth_secret` as it is no longer necessary and can still be included in the URLs if needed
  ansible/README.md
  docker/docker-compose.yaml
  docker/portal-server/docker-entrypoint.sh
  docker/portal-server/stub_portals.json
  helm/portal-server/linter_values.yaml
  helm/portal-server/templates/configmap.yaml
  helm/portal-server/values.yaml
  helm/values-server.yaml.example
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/cache_http.py
  python/univention/portal/extensions/portal.py
  unittests/test_portal.py
Due: trigger-portal-server, trigger-debian-package

feat: include umc "gateway" with the umc's static assets in stack
  .gitlab-ci.yml
  docker/docker-compose.yaml
  docker/portal-listener/Dockerfile
  docker/reverse-proxy/default.conf.template
  helm/portal-server/README.md
  unittests/test_cache_http.py
  unittests/test_portal.py
Due: trigger-portal-server, trigger-debian-package

feat: include umc container in stack
  .gitignore
  ansible/fetch-secrets-from-ucs-machine.yaml
  ansible/templates/docker-compose.override.yaml.j2
  ansible/templates/dotenv.keycloak.j2
  ansible/templates/dotenv.listener.j2
  ansible/templates/dotenv.umc-gateway.j2
  ansible/templates/dotenv.umc-server.j2
  docker/.env.example
  docker/.env.keycloak.example
  docker/.env.umc-gateway.example
  docker/.env.umc-server.example
  docker/docker-compose.override.yaml.example
  docker/docker-compose.yaml
  docker/keycloak/Dockerfile
  docker/keycloak/docker-entrypoint.sh
  docker/keycloak/realm-export.json
  docker/portal-listener/Dockerfile
  docker/portal-server/docker-entrypoint.sh
  docker/reverse-proxy/default.conf.template
  docker/reverse-proxy/nginx.conf
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/portal.py
Due: trigger-portal-server, trigger-debian-package

ci: Cleanup of "docker images --all" call
  frontend/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

build(helm): Update portal-server examples values
  helm/values-server.yaml.example
Due: none

feat(listener): Remove auth_secret parameter
  ansible/templates/values-portal-listener-generated.yaml.j2
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
Due: none

build(notifications-api): Update Dockerfile to work with the updated base image
  notifications-api/Dockerfile
Due: trigger-notifications-api

build(compose): Capture dependency from listener into store-dav
  docker/docker-compose.yaml
Due: none

build(compose): Fix up UMC_GATEWAY_BASE_URL to use umc-gateway
  docker/docker-compose.yaml
Due: none

build(compose): Serve portal entry icons out of store-dav
  docker/docker-compose.yaml
  docker/reverse-proxy/default.conf.template
Due: none

fix(helm): load icons from ucs
  helm/portal-frontend/values.yaml
  helm/portal-server/values.yaml
Due: none

fix(portal): add logs
  frontend/src/App.vue
  frontend/src/jsHelper/portalCategories.ts
Due: trigger-frontend, trigger-debian-package

fix(frontend): add debug watermark
  frontend/src/components/header/PortalTitle.vue
Due: trigger-frontend, trigger-debian-package

Bug #55175: Some more styling; fix start and end date
  debian/changelog
  frontend/src/components/PortalHeader.vue
  frontend/src/components/widgets/Announcement.vue
  python/univention/portal/extensions/reloader.py
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

ci: Rely on most SOUVAP variables to come from common-ci
  .gitlab-ci.yml
Due: none

feat: forward incoming client ip address to umc for authorization check
  python/univention/portal/extensions/authenticator.py
  unittests/test_authenticator.py
Due: trigger-portal-server, trigger-debian-package

chore: update Ansible setup scripts for Keycloak and UMC server
  ansible/fetch-secrets-from-ucs-machine.yaml
  ansible/templates/dotenv.umc-server.j2
  docker/.env.umc-server.example
Due: none

Bug #55175: Remove needsConfirmation from layout
  debian/changelog
  udm/handlers/announcement.py
  udm/handlers/de.po
Due: trigger-portal-server, trigger-debian-package

fix: allow setting the preferred scheme for SAML ACS via env
  ansible/templates/dotenv.umc-server.j2
  docker/.env.umc-server.example
Due: none

ci: Simplify the configuration of helm-docs in pre-commit
  .pre-commit-config.yaml
Due: none

ci: Rely on stage configuration from common-ci in publish jobs
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

ci: run e2e tests in scheduled pipeline
  .gitlab-ci.yml
  tests/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

build: use feature branch that fixes login loop
  docker/docker-compose.yaml
Due: none

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*) or (any of: debian/**/*))
