Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

.gitlab-ci.yml:

# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023 Univention GmbH

---

include:
  - project: "univention/customers/dataport/upx/common-ci"
    ref: "v1.20.0"
    file:
      - "defaults/stages.yaml"
      - "defaults/souvap-workflow.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/package-and-publish-helm-charts-souvap.yaml"

lint-pre-commit:
  before_script:
    - |
      # Compose lint would fail without the referenced env files
      cp docker/.env.example docker/.env
      cp docker/.env.keycloak.example docker/.env.keycloak
      cp docker/.env.listener.example docker/.env.listener
      cp docker/.env.umc-gateway.example docker/.env.umc-gateway
      cp docker/.env.umc-server.example docker/.env.umc-server
      helm repo add bitnami https://charts.bitnami.com/bitnami

trigger-notifications-api:
  stage: "trigger"
  needs:
    - job: "pre-semantic-release"
      artifacts: true
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "notifications-api/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes:
        - "notifications-api/**/*"
        - "tests/**/*"

trigger-frontend:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "frontend/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: &portal-frontend-changes
        - "frontend/**/*"
        - "tests/**/*"

trigger-portal-server:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
  trigger:
    strategy: "depend"
    include:
      - local: "portal-server/.gitlab-ci.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: &portal-server-changes
        - "docker/portal-server/**/*"
        - "docker/portal-listener/**/*"
        - "listener/**/*"
        - "portal-server/**/*"
        - "python/**/*"
        - "setup.py"
        - "tests/**/*"
        - "udm/**/*"
        - "unittests/**/*"
        - "univention-portal"
        - "univention-portal-server"

# TODO: Pending removal. This can be removed once the ucs-machine (VMs) are not
# used anymore. Usage in the dev environment and in the SouvAP deployment.
trigger-debian-package:
  stage: "trigger"
  trigger:
    strategy: "depend"
    include:
      - local: ".gitlab-ci.debian.yml"
  rules:
    - if: "$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH"
      when: "always"
    - changes: *portal-server-changes
    - changes: *portal-frontend-changes
    - changes:
        - "debian/**/*"

...

chore(release): 0.23.1 [skip ci]
  CHANGELOG.md
Due: none

ci: push to harbor
  .gitlab-ci.yml
Due: none

fixup! ci: push to harbor
  .gitlab-ci.yml
Due: none

fixup! fixup! ci: push to harbor
  helm/notifications-api/Chart.lock
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

fixup! fixup! fixup! ci: push to harbor
  .gitlab-ci.yml
Due: none

fixup! fixup! fixup! fixup! ci: push to harbor
  .gitlab-ci.yml
Due: none

fixup! fixup! fixup! fixup! fixup! ci: push to harbor
  .gitlab-ci.yml
Due: none

fix: use global registry
  helm/notifications-api/values.yaml
  helm/portal-frontend/values.yaml
  helm/portal-listener/values.yaml
  helm/portal-server/values.yaml
Due: none

fixup! fix: use global registry
  helm/notifications-api/README.md
  helm/portal-frontend/README.md
  helm/portal-listener/README.md
  helm/portal-server/README.md
Due: none

fixup! fixup! fix: use global registry
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

fixup! fixup! fixup! fix: use global registry
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
Due: none

feat: push to harbor
  .gitlab-ci.yml
  helm/notifications-api/Chart.lock
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

fix: udpate ci
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fixup! fix: udpate ci
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fixup! fixup! fix: udpate ci
  .gitlab-ci.yml
Due: none

fix(ci): workaround triggered pipelines not getting passed proper values due to them containing $nubus
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fixup! fix(ci): workaround triggered pipelines not getting passed proper values due to them containing $nubus
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(ci): workaround triggered pipelines not getting passed proper values due to them containing $nubus
  frontend/.gitlab-ci.yml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
  portal-server/.gitlab-ci.yml
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

fix(ci): downstream helm chart packaging
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fixup! fix(ci): downstream helm chart packaging
  helm/portal-listener/README.md
Due: none

fixup! fixup! fix(ci): downstream helm chart packaging
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-debian-package

fix(listener): use global registry
  helm/portal-listener/templates/statefulset.yaml
Due: none

fixup! fix(listener): use global registry
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-debian-package

fix(ci): use global registry and package helm charts downstream
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  helm/portal-listener/README.md
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix: update docs
  README.dev.md
Due: none

chore(release): 0.24.0 [skip ci]
  CHANGELOG.md
Due: none

fix: Do not add "http" into extra Ingresses if no paths specified
  helm/portal-frontend/templates/extraIngresses.yaml
Due: none

chore(release): 0.24.1 [skip ci]
  CHANGELOG.md
Due: none

feat: Publish "portal-udm-extensions"
  .gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

feat: Add simple plugin loader
  docker/portal-udm-extensions/Dockerfile
  docker/portal-udm-extensions/loader.sh
Due: none

fix(frontend): missing paths for background and logo
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

chore(release): 0.24.2 [skip ci]
  CHANGELOG.md
Due: none

fix: do not register consumer, let pydantic_settings read the env values and AsyncClient instantiate the Settings class
  helm/portal-consumer/templates/configmap.yaml
  portal_consumer/consumer.py
Due: none

test: fix unittests
  docker/portal-server/Dockerfile
  portal-server/.gitlab-ci.yml
  portal_consumer/consumer.py
  requirements-test.txt
  unittests/test_consumer.py
  unittests/test_listener.py
Due: trigger-portal-server, trigger-debian-package

fix: return back values-portal-consumer.example.yaml, add credentials to the configmap
  helm/portal-consumer/templates/configmap.yaml
  helm/values-portal-consumer.example.yaml
Due: none

fix: use bitnamicharts repository instead of common-helm
  helm/portal-consumer/Chart.lock
  helm/portal-consumer/Chart.yaml
  helm/portal-consumer/README.md
  helm/portal-consumer/templates/configmap.yaml
  helm/portal-consumer/templates/secret.yaml
  helm/portal-consumer/templates/statefulset.yaml
Due: none

feat: use provisioning-consumer-lib to listen for changes in the groups and portal
  listener/portal_groups.py
  listener/portal_server.py
  portal_consumer/consumer.py
  unittests/test_listener.py
Due: trigger-portal-server, trigger-debian-package

refactor: remove obsolete code lines and portal-listener folder
  README.dev.md
  docker/portal-listener/Dockerfile
  portal_consumer/consumer.py
Due: trigger-portal-server, trigger-debian-package

feat: wait for provisioning api, add log for updating portal
  helm/portal-consumer/templates/statefulset.yaml
  portal_consumer/consumer.py
Due: none

test: refactor message_handler run mock to use a dedicated async function
  unittests/test_consumer.py
Due: trigger-portal-server, trigger-debian-package
