Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

fix(portal-listener): Flag parameter ldapSecret as required
  helm/portal-listener/templates/secret.yaml
Due: none

fix(portal-listener): Bring linter_values closer to typical values of the dev-env
  helm/portal-listener/linter_values.yaml
Due: none

feat(portal-frontend): Reduce the default probe delays in the portal-frontend
  helm/portal-frontend/values.yaml
Due: none

feat(portal-listener): Use "cn=admin" as default for "udmApiUsername"
  helm/portal-listener/values.yaml
Due: none

feat(portal-listener): Use "portal-listener" as the default user name for store-dav
  helm/portal-listener/values.yaml
Due: none

fix(portal-server): Use knut registry by default as image source.
  helm/portal-server/values.yaml
Due: none

docs(portal-server): Remove comments which state the obvious from the values
  helm/portal-server/values.yaml
Due: none

fix(portal-server): Do not define resources be default
  helm/portal-server/values.yaml
Due: none

fix(portal-frontend): Use the image out of the knut registry
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
  helm/portal-listener/README.md
  helm/portal-server/README.md
Due: none

fix(notifications-api): Use the knut registry by default
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
Due: none

fix(notifications-api): Avoid setting default values for passwords
  helm/notifications-api/README.md
  helm/notifications-api/values.yaml
Due: none

feat(notifications-api): Keep the bundled Postgresql on 12.7.*
  helm/notifications-api/Chart.lock
  helm/notifications-api/Chart.yaml
  helm/notifications-api/README.md
Due: none

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
Due: none

chore(ci/check-debian-updates): run as root
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

feat(ci): add debian update check jobs for scheduled pipeline
  .gitlab-ci.yml
Due: none

feat(portal): make HTML title and favicon configurable
  debian/changelog
  frontend/src/App.vue
Due: trigger-frontend, trigger-debian-package

chore(ci): update common-ci from v1.14.0 to v1.20.0
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore(ci/check-debian-updates): run as root
  .gitlab-ci.yml
Due: none

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
Due: none

style(isort): unittest is stdlib not third party
  unittests/test_portal.py
  unittests/test_portal_umc.py
Due: trigger-portal-server, trigger-debian-package

fix(portal): Update file portals.json atomically
  univention-portal
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.11.1 [skip ci]
  CHANGELOG.md
Due: none

build: improved the Python 2.7 compatiblity of univention-portal
  debian/control
  setup.py
Due: trigger-portal-server, trigger-debian-package

feat(portal): Show cookie banner only if configured for current domain
  frontend/src/App.vue
  frontend/src/components/globals/CookieBanner.vue
  frontend/src/jsHelper/tools.ts
  frontend/src/store/modules/metaData/index.ts
Due: trigger-frontend, trigger-debian-package

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
Due: none

feat(portal): make HTML title and favicon configurable
  frontend/src/App.vue
Due: trigger-frontend, trigger-debian-package

refactor(portal): Remove unused variables from joinscript
  33univention-portal.inst
Due: none

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
Due: none

style: enhance coding style
  33univention-portal.inst
  frontend/src/apis/notifications/api.ts
  frontend/src/apis/notifications/base.ts
  frontend/src/apis/notifications/common.ts
  frontend/src/apis/notifications/configuration.ts
  frontend/src/apis/notifications/index.ts
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/portal.py
  python/univention/portal/extensions/reloader.py
  python/univention/portal/extensions/reloader_http.py
  python/univention/portal/util.py
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

style: enhance coding style
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/portal.py
  python/univention/portal/extensions/reloader.py
  python/univention/portal/extensions/reloader_http.py
  python/univention/portal/util.py
Due: trigger-portal-server, trigger-debian-package

fix(portal): HTTPS detection when acessing navigation.json endpoint behind UCS apache reverse proxy
  python/univention/portal/handlers/portal_resource.py
Due: trigger-portal-server, trigger-debian-package

chore(release): 0.13.1 [skip ci]
  CHANGELOG.md
Due: none

chore(tilt): Added Tiltfile for easier development
  .gitignore
  .tiltignore
  Tiltfile
  tilt_config.json.example
Due: none

feat: drop kubernetes deployment, config and service files
  k8s/backend.yaml
  k8s/cfg-backend.yaml
  k8s/frontend.yaml
  k8s/svc-backend.yaml
Due: none

feat(listener): Wait for object-storage
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/statefulset.yaml
  python/univention/portal/extensions/cache_object_storage.py
  python/univention/portal/extensions/reloader_object_storage.py
Due: trigger-portal-server, trigger-debian-package

feat(server): Support object storage cache
  docker/portal-server/Dockerfile
  docker/portal-server/stub_portals.json
  portal-server/.gitlab-ci.yml
  python/univention/portal/extensions/cache_object_storage.py
  python/univention/portal/handlers/navigation_handler.py
  python/univention/portal/handlers/portal_entries_handler.py
Due: trigger-portal-server, trigger-debian-package

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, docker/portal-listener/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, docker/portal-listener/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*) or (any of: debian/**/*))
