Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  needs: []
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

feat: add TLS_MODE variable
  docker/.env.listener.example
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
Due: none

refactor(helm): rework caCert and remove certPem
  docker/.env.listener.example
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
Due: none

fix: add imagePullSecrets for pulling from knut
  helm/portal-frontend/templates/deployment.yaml
  helm/portal-server/templates/deployment.yaml
Due: none

fix(portal-listener): Use version 0.2.0 of listener base image
  docker/portal-listener/Dockerfile
Due: none

style: Fix typo in comment of portal-listener Helm chart
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
Due: none

fix(portal-listener): Avoid camel case in secret.yaml of Helm chart
  helm/portal-listener/templates/secret.yaml
Due: none

ci: Trigger portal-server pipeline on changes in listener dockerfile
  .gitlab-ci.yml
Due: none

fix(helm): Fix handling of TLS_MODE in listener Helm chart
  helm/portal-listener/templates/configmap.yaml
Due: none

chore: use more templates from common-helm
  docker/portal-server/machine.secret
  helm/notifications-api/Chart.lock
  helm/notifications-api/Chart.yaml
  helm/notifications-api/README.md
  helm/notifications-api/templates/configmap.yaml
  helm/notifications-api/templates/deployment.yaml
  helm/notifications-api/templates/ingress.yaml
  helm/notifications-api/templates/service.yaml
  helm/portal-frontend/Chart.lock
  helm/portal-frontend/Chart.yaml
  helm/portal-frontend/README.md
  helm/portal-frontend/templates/configmap.yaml
  helm/portal-frontend/templates/deployment.yaml
  helm/portal-frontend/templates/ingress.yaml
  helm/portal-frontend/templates/service.yaml
  helm/portal-listener/Chart.lock
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
  helm/portal-server/Chart.lock
  helm/portal-server/Chart.yaml
  helm/portal-server/README.md
  helm/portal-server/templates/configmap.yaml
  helm/portal-server/templates/deployment.yaml
  helm/portal-server/templates/ingress.yaml
  helm/portal-server/templates/service.yaml
  helm/values-portal-frontend.example.yaml
  helm/values-portal-listener.example.yaml
  helm/values-portal-server.example.yaml
Due: trigger-portal-server, trigger-debian-package

chore: clean up Helm variables and documentation
  helm/portal-listener/README.md
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/values.yaml
Due: none

fix: listener/debug/level is 4 at most, not 5
  helm/portal-listener/values.yaml
Due: none

fix: update Helm docs
  helm/portal-listener/README.md
Due: none

feat: install redirects for /, /univention, /univention/portal in ingress
  helm/portal-frontend/README.md
  helm/portal-frontend/linter_values.yaml
  helm/portal-frontend/templates/ingress.yaml
  helm/portal-frontend/values.yaml
Due: none

feat(portal-server): User "ucs-base" as the base to build the container image
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

feat(portal-listener): Ensure that no data is updated on UDM connection failures
  python/univention/portal/extensions/reloader_content.py
  unittests/test_reloader_content.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-listener): Ensure all dependencies are always installed via pip
  docker/portal-listener/Dockerfile
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

fix: add python3-requests missing dependency
  docker/portal-listener/Dockerfile
Due: none

chore(portal-server): Remove unused "sources.list" file
  docker/portal-server/sources.list
Due: trigger-portal-server, trigger-debian-package

ci: Use container image from stack-data to extract join data
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

Bug #55610: added univention-portal logrotate configuration and a UCR variable
  conffiles/etc/logrotate.d/univention-portal
  debian/changelog
  debian/univention-portal.univention-config-registry-variables
Due: trigger-debian-package

refactor(frontend): Rename stage "dev-env" to "local-dev-env"
  frontend/Dockerfile
  frontend/README.md
  frontend/docker-compose.yaml
Due: trigger-frontend, trigger-debian-package

feat(frontend): Add stage "dev-server" into the container build
  frontend/Dockerfile
Due: trigger-frontend, trigger-debian-package

fix(frontend): Do not attempt keycloak login if there is no keycloak URL available
  frontend/src/store/index.ts
  frontend/tests/unit/store.spec.ts
Due: trigger-frontend, trigger-debian-package

Revert "Bug #55610: added univention-portal logrotate configuration and a UCR variable"
  conffiles/etc/logrotate.d/univention-portal
  debian/changelog
  debian/univention-portal.univention-config-registry-variables
Due: trigger-debian-package

Bug #55610: Version bump
  debian/changelog
Due: trigger-debian-package

ci: Update SouvAP publishing
  .gitlab-ci.yml
Due: none

tmp - testrun common-ci
  .gitlab-ci.yml
Due: none

fix(portal-listener): portal-listener needs to wait until LDAP and UDM are reachable
  docker/wait-for-dependency/Dockerfile
  helm/portal-listener/README.md
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

chore(portal-listener): change to knut container registry
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
Due: none

chore(ci): point to a tag to include common-ci
  .gitlab-ci.yml
Due: none

chore(frontend): Require at least version 0.3.1 of common-helm
  helm/portal-frontend/Chart.lock
  helm/portal-frontend/Chart.yaml
  helm/portal-frontend/README.md
Due: none

feat(frontend): Provide workaround for an issue in "ingress-nginx" as opt-in
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

feat(frontend): "extraIngresses" inherit defaults from "ingress" in Helm chart
  helm/portal-frontend/README.md
  helm/portal-frontend/templates/ingress-extra.yaml
  helm/portal-frontend/values.yaml
Due: none

feat(frontend): Enable the Ingress by default, keep Istio disabled by default
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

refactor(frontend): Rewrite URLs explicitly to simplify path matching
  helm/portal-frontend/README.md
  helm/portal-frontend/values.yaml
Due: none

feat(frontend): Add support for nginx-ingress as ingress controller
  helm/portal-frontend/README.md
  helm/portal-frontend/templates/ingress-extra.yaml
  helm/portal-frontend/values.yaml
Due: none

refactor(frontend): Move "ingress.redirects" into "extraIngresses"
  helm/portal-frontend/README.md
  helm/portal-frontend/templates/ingress-extra.yaml
  helm/portal-frontend/templates/ingress.yaml
  helm/portal-frontend/values.yaml
Due: none

feat(notifications-api): Enable Ingress by default, disable Istio
  helm/notifications-api/values.yaml
Due: none

feat(server): Add annotations to support nginx-ingress
  helm/portal-server/README.md
  helm/portal-server/values.yaml
Due: none

feat(server): Enable Ingress by default, keep Istio disabled by default
  helm/portal-server/values.yaml
Due: none

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*) or (any of: debian/**/*))
