Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

.gitlab-ci.yml:

---

variables:
  SOUVAP_API_V4_URL: https://gitlab.souvap-univention.de/api/v4
  SOUVAP_DOCKER_ACCESS_USER: gitlab-ci-knut
  SOUVAP_HELM_ACCESS_USER: gitlab-ci-knut
  SOUVAP_HELM_PROJECT_ID: 75
  SOUVAP_REGISTRY_HOST: registry.souvap-univention.de
  SOUVAP_REGISTRY_PATH: souvap/tooling/images/univention-portal
  SOUVAP_REGISTRY_REPO: ${SOUVAP_REGISTRY_HOST}/${SOUVAP_REGISTRY_PATH}


include:
  - project: univention/customers/dataport/upx/common-ci
    file:
      - defaults/souvap-workflow.yaml
      - jobs/lint-pre-commit.yaml
      - jobs/package-and-publish-helm-charts.yaml


stages:
  - lint
  - prepare
  - build
  - test
  - trigger
  - package
  - publish


lint-pre-commit:
  before_script:
    # Compose lint would fail without the referenced env files
    - cp docker/.env.example docker/.env
    # Helm chart liniting needs the dependency charts present
    - |
      for helm_path in `find ./helm -mindepth 1 -maxdepth 1 -type d`; do
        helm dependency update $helm_path
      done


commit-message-linting:
  stage: lint
  needs: []
  image:
    name: "gitregistry.knut.univention.de/univention/customers/dataport/upx/container-pre-commit/upx-pre-commit:latest"
    entrypoint: [""]
  variables:
    PIP_CACHE_DIR: "${CI_PROJECT_DIR}/.cache/pip"
    PRE_COMMIT_HOME: "${CI_PROJECT_DIR}/.cache/pre-commit"
  cache:
    paths:
      - "${PIP_CACHE_DIR}"
      - "${PRE_COMMIT_HOME}"
  script:
    - |
      any_failure=0
      tmp_file="$(mktemp --tmpdir=.)"
      for x in $(git log --format="%H" "${CI_MERGE_REQUEST_DIFF_BASE_SHA}..${CI_COMMIT_SHA}")
      do
          echo "Checking commit message for $x"
          git log --format="%B" -n 1 "$x" > "$tmp_file"
          pre-commit run --hook-stage=commit-msg --commit-msg-filename="$tmp_file" \
              conventional-pre-commit || any_failure=1
      done
      rm "$tmp_file"
      exit "$any_failure"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"


trigger-notifications-api:
  stage: trigger
  trigger:
    strategy: depend
    include:
      - local: 'notifications-api/.gitlab-ci.yml'
  rules:
    - changes:
        - 'notifications-api/**/*'
        - 'tests/**/*'


trigger-frontend:
  stage: trigger
  trigger:
    strategy: depend
    include:
      - local: 'frontend/.gitlab-ci.yml'
  rules:
    - changes:
        - 'frontend/**/*'
        - 'tests/**/*'


trigger-portal-server:
  stage: trigger
  trigger:
    strategy: depend
    include:
      - local: 'portal-server/.gitlab-ci.yml'
  rules:
    # TODO: Is everything covered here?
    - changes:
        - 'portal-server/**/*'
        - 'python/**/*'
        - 'udm/**/*'
        - 'unittests/**/*'
        - 'univention-portal'
        - 'univention-portal-server'
        - 'setup.py'
        - 'docker/portal-server/**/*'
        - 'tests/**/*'


# TODO: check if we can get rid of this already? Announcements?
trigger-debian-package:
  stage: trigger
  trigger:
    strategy: depend
    include:
      - local: '.gitlab-ci.debian.yml'
  rules:
    - changes:
        - 'portal-server/**/*'
        - 'python/**/*'
        - 'udm/**/*'
        - 'unittests/**/*'
        - 'univention-portal'
        - 'univention-portal-server'
        - 'setup.py'
        - 'docker/portal-server/**/*'
        - 'tests/**/*'
        - 'debian/**/*'
        - 'frontend/**/*'


...

build: Add store-dav service into compose configuration
  ansible/fetch-secrets-from-ucs-machine.yaml
  docker/docker-compose.yaml
Due: none

ci: Provide ".env.listener" for linting via docker compose
  .gitlab-ci.yml
Due: none

fix(server): Make LDAP_PORT optional
  docker/portal-server/docker-entrypoint.sh
Due: trigger-portal-server, trigger-debian-package

refactor(listener): Split reloader module
  docker/portal-listener/Dockerfile
  docker/portal-listener/stub_portals.json
  pyproject.toml
  python/univention/portal/extensions/reloader.py
  python/univention/portal/extensions/reloader_content.py
  python/univention/portal/extensions/reloader_http.py
  python/univention/portal/util.py
  unittests/stub_udm_client.py
  unittests/test_portal.py
  unittests/test_reloader.py
  unittests/test_reloader_content.py
  unittests/test_reloader_http.py
Due: trigger-portal-server, trigger-debian-package

refactor(server): Limit try..except block in cache_http
  python/univention/portal/extensions/cache_http.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-cli): Change argument "name" to "names"
  univention-portal
Due: trigger-portal-server, trigger-debian-package

refactor(portal-cli): Add option "--log-stream"
  univention-portal
Due: trigger-portal-server, trigger-debian-package

feat(listener): Make /etc/machine.secret available for group-membership-cache
  docker/docker-compose.yaml
Due: none

test: Use ".test" domain for stub data in test_cache_http
  unittests/test_cache_http.py
Due: trigger-portal-server, trigger-debian-package

feat(listener): Chain entrypoint scripts
  docker/portal-listener/Dockerfile
Due: none

build(listener): Provide needed configuration options
  ansible/fetch-secrets-from-ucs-machine.yaml
  ansible/templates/dotenv.listener.j2
  docker/docker-compose.yaml
  docker/portal-server/docker-entrypoint.sh
Due: trigger-portal-server, trigger-debian-package

refactor(listener): Use stub_portals.json with adjusted configuration
  docker/portal-listener/Dockerfile
  docker/portal-listener/stub_portals.json
  docker/portal-server/docker-entrypoint.sh
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

build(reverse-proxy): Consolidate handling of environment variables
  docker/.env.example
  docker/docker-compose.yaml
Due: none

ci: Model dependency from portal-listener to portal-server
  .gitlab-ci.debian.yml
  docker/portal-listener/Dockerfile
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

feat(listener): Add portal-server codebase from portal-server container
  docker/portal-listener/Dockerfile
Due: none

fix(listener): Avoid using PIPE in subprocess.call
  listener/portal_server.py
Due: none

feat(server): Set user agent header in CacheHTTP
  python/univention/portal/extensions/cache_http.py
  unittests/test_cache_http.py
Due: trigger-portal-server, trigger-debian-package

build(listener): Add univention-group-membership-cache
  docker/portal-listener/Dockerfile
Due: none

feat(listener): Set user agent to portal-listener
  python/univention/portal/extensions/reloader_http.py
  unittests/test_reloader_http.py
Due: trigger-portal-server, trigger-debian-package

feat(listener): Set "--log-stream" based on environment in portal listener
  docker/docker-compose.yaml
  docker/portal-server/Dockerfile
  listener/portal_server.py
  unittests/test_listener.py
Due: trigger-portal-server, trigger-debian-package

build(listener): Allow to set "assets_root" in container
  docker/portal-server/docker-entrypoint.sh
Due: trigger-portal-server, trigger-debian-package

fix(server): Correct logging call to error
  python/univention/portal/extensions/cache_http.py
Due: trigger-portal-server, trigger-debian-package

test(listener): Add basic coverage of PortalReloaderUDM.refresh
  python/univention/portal/extensions/reloader.py
  unittests/files/config_a.json
  unittests/stub_udm_client.py
  unittests/test_config.py
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package

build(listener): Add needed directories
  docker/portal-listener/Dockerfile
Due: none

refactor(listener): Stream logging output
  listener/portal_groups.py
  listener/portal_server.py
Due: none

refactor(portal-server): Add debug logging around UDM client
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

build(server): Remove dated comments from compose file
  docker/docker-compose.yaml
Due: none

feat(listener): Implement HttpReloader
  python/univention/portal/extensions/reloader.py
  unittests/test_reloader.py
  unittests/test_reloader_http.py
Due: trigger-portal-server, trigger-debian-package

feat(listener): Initialize cache and store on start
  docker/docker-compose.yaml
  docker/portal-listener/Dockerfile
  docker/portal-listener/initialize.sh
  docker/portal-listener/portal-listener-entrypoint.sh
Due: none

feat(listener): Add HTTP support for "asset_root"
  python/univention/portal/extensions/reloader.py
  python/univention/portal/util.py
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package

build(listener): Use entrypoint script from portal-server base image
  docker/portal-listener/Dockerfile
Due: none

build(listener): Install udm rest client
  docker/portal-listener/Dockerfile
Due: none

refactor(portal-server): Debug logging around groups refresh
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

feat(listener): Add rudimentary container configuration for portal-listener
  .gitignore
  ansible/fetch-secrets-from-ucs-machine.yaml
  ansible/templates/docker-compose.override.yaml.j2
  ansible/templates/dotenv.listener.j2
  docker/.env.listener.example
  docker/docker-compose.yaml
  docker/portal-listener/Dockerfile
  portal-server/.gitlab-ci.yml
Due: trigger-portal-server, trigger-debian-package

docs: Mention the playbook to fetch secrets
  README.dev.md
Due: none

test(listener): Cover _write_image with a test case
  python/univention/portal/extensions/reloader.py
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package

feat(listener): Set "--log-stream" in groups listener based on environment
  docker/portal-server/Dockerfile
  listener/portal_groups.py
  listener/portal_server.py
  python/univention/portal/util.py
  unittests/test_listener.py
  unittests/test_util.py
Due: trigger-portal-server, trigger-debian-package

test(listener): Leverage parametrize instead of doing multiple checks in one test
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package

build(listener): Split ENTRYPOINT across multiple lines
  docker/portal-listener/Dockerfile
Due: none

refactor(listener): Move asset writing logic into utility class
  python/univention/portal/extensions/reloader.py
  unittests/test_portal.py
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package
