Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  needs:
  - job: pre-semantic-release
    artifacts: true
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  variables:
    RELEASE_VERSION: ${RELEASE_VERSION}
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

chore: UCS 5.1-0 debian/changelog
  debian/changelog
Due: trigger-debian-package

chore: replace UCS version to 5.1
  frontend/builder/sources.list
Due: trigger-frontend, trigger-debian-package

chore(python): change Python 2 packages into transitional packages
  debian/changelog
  debian/control
Due: trigger-debian-package

build(debian/compat): upgrade to latest debhelper compat version
  debian/changelog
  debian/compat
  debian/control
Due: trigger-debian-package

feat(udm): remove UDM settings/portal*
  33univention-portal.inst
  debian/changelog
  debian/univention-portal.install
  udm/migrate-to-new-portal
  udm/migrate-to-new-portal-during-5.0-dev
Due: trigger-portal-server, trigger-debian-package

build(debian): allow build timestamps for pybuild
  setup.py
Due: trigger-portal-server, trigger-debian-package

refactor(python): remove __future__ imports (UP010)
  debian/changelog
  listener/portal_groups.py
  listener/portal_server.py
  udm/api/portal.py
Due: trigger-portal-server, trigger-debian-package

Bug #55915: replace `imghdr` import with `filetype`
  debian/changelog
  debian/control
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

chore(changelog): add changelog entry
  debian/changelog
Due: trigger-debian-package

refactor(python): UP024 Replace aliased errors with `OSError`
  python/univention/portal/config.py
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/cache.py
  python/univention/portal/extensions/reloader.py
  univention-portal
Due: trigger-portal-server, trigger-debian-package

refactor(python): UP028
  python/univention/portal/__init__.py
Due: trigger-portal-server, trigger-debian-package

refactor(python): UP020
  setup.py
Due: trigger-portal-server, trigger-debian-package

chore: set --ucsversionstart flag to 5.0-7
  33univention-portal.inst
  debian/changelog
Due: trigger-debian-package

chore(debian/changelog): UCS 5.2-0
  debian/changelog
Due: trigger-debian-package

chore: replace UCS version to 5.2
  frontend/builder/sources.list
Due: trigger-frontend, trigger-debian-package

build(portal): fix building portal frontend
  Makefile
  debian/changelog
Due: trigger-debian-package

feat(umc): change the style of the UMC header
  debian/changelog
  frontend/src/components/ChooseTabs.vue
Due: trigger-frontend, trigger-debian-package

feat(portal): change the style of the Portal's folders, tiles and scrollbars
  frontend/src/App.vue
  frontend/src/assets/styles/_base.styl
  frontend/src/components/PortalFolder.vue
  frontend/src/components/PortalTile.vue
  frontend/src/views/Portal.vue
Due: trigger-frontend, trigger-debian-package

feat(portal): change the style of the Portal's sidebar
  frontend/src/assets/de.po
  frontend/src/components/PortalHeader.vue
  frontend/src/components/PortalSidebar.vue
  frontend/src/components/modal/ModalWrapper.vue
  frontend/src/components/navigation/FlyoutWrapper.vue
  frontend/src/components/navigation/MenuItem.vue
  frontend/src/components/navigation/SideNavigation.vue
Due: trigger-frontend, trigger-debian-package

feat(portal): change the style of the Portal's header tabs
  frontend/src/assets/styles/_base.styl
  frontend/src/assets/styles/_vars.styl
  frontend/src/components/ChooseTabs.vue
  frontend/src/components/header/PortalTitle.vue
  frontend/src/components/navigation/HeaderButton.vue
  frontend/src/components/navigation/HeaderTab.vue
  frontend/src/views/NotFound.vue
  frontend/src/views/Portal.vue
Due: trigger-frontend, trigger-debian-package

chore: update joinscript version
  33univention-portal.inst
Due: none

feat(portal): refine style of portal
  frontend/src/assets/styles/_base.styl
  frontend/src/components/PortalHeader.vue
  frontend/src/components/PortalTile.vue
  frontend/src/components/admin/CategoryAddModal.vue
  frontend/src/components/admin/ConfirmDialog.vue
  frontend/src/components/admin/EditWidget.vue
  frontend/src/components/admin/ExistingCategory.vue
  frontend/src/components/admin/ExistingEntry.vue
  frontend/src/components/admin/TileAdd.vue
  frontend/src/components/admin/TileAddModal.vue
  frontend/src/components/admin/TranslationEditing.vue
  frontend/src/components/navigation/HeaderTab.vue
  frontend/src/components/navigation/SideNavigation.vue
  frontend/src/components/widgets/AddObjects.vue
  frontend/src/components/widgets/ImageUploader.vue
  frontend/src/components/widgets/LocaleInput.vue
  frontend/src/components/widgets/MultiSelect.vue
  frontend/src/views/selfservice/ConfirmDeregistration.vue
  frontend/src/views/selfservice/PasswordChange.vue
Due: trigger-frontend, trigger-debian-package

feat(joinscripts): increase all modified joinscripts by 10
  33univention-portal.inst
  debian/changelog
Due: trigger-debian-package

refactor(python): drop Python 2 compatibility
  conffiles/symlink_portal.py
  conffiles/univention_blog.py
  listener/portal_groups.py
  listener/portal_server.py
  python/univention/portal/__init__.py
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/reloader.py
  python/univention/portal/handlers/portal_resource.py
  python/univention/portal/log.py
  python/univention/portal/main.py
  python/univention/portal/user.py
  setup.py
  udm/api/portal.py
  udm/handlers/all.py
  udm/handlers/announcement.py
  udm/handlers/category.py
  udm/handlers/entry.py
  udm/handlers/folder.py
  udm/handlers/portal.py
  udm/syntax/univention-portal.py
  unittests/test_portal.py
  univention-portal
Due: trigger-portal-server, trigger-debian-package

fix(notifications-api): fix indentation in bundled postgresql
  helm/notifications-api/README.md
  helm/notifications-api/templates/deployment.yaml
  helm/notifications-api/values.yaml
Due: none

chore(release): 0.20.1 [skip ci]
  CHANGELOG.md
Due: none

style(helm): prepare yaml-files for automatic editing
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .releaserc.yaml
  ansible/fetch-secrets-from-ucs-machine.yaml
  ansible/ucs-expose-portal-json-files.yaml
  ansible/ucs-login-with-local-keycloak.yaml
  ansible/ucs-umc-open-for-portal-server.yaml
  docker/docker-compose.yaml
  frontend/.gitlab-ci.yml
  frontend/docker-compose.yaml
  helm/notifications-api/Chart.yaml
  helm/notifications-api/linter_values.yaml
  helm/notifications-api/values.yaml
  helm/portal-frontend/Chart.yaml
  helm/portal-frontend/linter_values.yaml
  helm/portal-frontend/values.yaml
  helm/portal-listener/Chart.yaml
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/values.yaml
  helm/portal-server/Chart.yaml
  helm/portal-server/README.md
  helm/portal-server/linter_values.yaml
  helm/portal-server/values.yaml
  helm/values-portal-frontend.example.yaml
  helm/values-portal-listener.example.yaml
  helm/values-portal-server.example.yaml
  notifications-api/.gitlab-ci.yml
  notifications-api/docker-compose.yml
  notifications-api/logging.yaml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

style(python): use Python 3.11 code annotations
  debian/changelog
  python/univention/portal/__init__.py
  univention-portal
Due: trigger-portal-server, trigger-debian-package

chore(ci): update common-ci from v1.20.0 to v1.24.4
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(portal-listener): Correct default values to reflect the templates
  helm/portal-listener/values.yaml
Due: none

fix(ci): update common-ci from v1.24.4 to v1.24.5
  .gitlab-ci.debian.yml
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  notifications-api/.gitlab-ci.yml
  portal-server/.gitlab-ci.yml
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

fix(deps): update all dependencies
  .gitlab-ci.yml
  docker/deb-builder/Dockerfile
  docker/docker-compose.yaml
  docker/keycloak/Dockerfile
  docker/portal-server/Dockerfile
  docker/wait-for-dependency/Dockerfile
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
  helm/notifications-api/Chart.yaml
  helm/notifications-api/values.yaml
  helm/portal-frontend/values.yaml
  helm/portal-server/values.yaml
  notifications-api/.gitlab-ci.yml
  notifications-api/Dockerfile
  notifications-api/docker-compose.yml
  notifications-api/requirements-dev.txt
  notifications-api/requirements.txt
  portal-server/.gitlab-ci.yml
  requirements-test.txt
  requirements.txt
Due: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

chore(release): 0.20.2 [skip ci]
  CHANGELOG.md
Due: none

fix: use configurable minio url in configmap
  helm/portal-listener/README.md
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/values.yaml
Due: none

chore(release): 0.20.3 [skip ci]
  CHANGELOG.md
Due: none

fix: pinning container name to portal-listener
  helm/portal-listener/templates/statefulset.yaml
Due: none

chore(release): 0.20.4 [skip ci]
  CHANGELOG.md
Due: none

feat(umc): User can now delete their own birthday again
  debian/changelog
  frontend/src/views/selfservice/helper.ts
Due: trigger-frontend, trigger-debian-package

fix: user birthday can be deleted
  frontend/src/views/selfservice/helper.ts
Due: trigger-frontend, trigger-debian-package

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: docker/portal-server/**/*, docker/portal-listener/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server
  trigger-debian-package: (any of: docker/portal-server/**/*, docker/portal-listener/**/*, listener/**/*, portal-server/**/*, python/**/*, setup.py, tests/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server) or ((any of: frontend/**/*, tests/**/*) or (any of: debian/**/*))
