Repository univention/univention-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-notifications-api, trigger-frontend, trigger-portal-server, trigger-debian-package

trigger-notifications-api:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: notifications-api/.gitlab-ci.yml

trigger-frontend:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: frontend/.gitlab-ci.yml

trigger-portal-server:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: portal-server/.gitlab-ci.yml

trigger-debian-package:
  stage: trigger
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.debian.yml

build(listener): Take listener scripts from portal server image
  docker/portal-listener/Dockerfile
  docker/portal-server/Dockerfile
Due: trigger-portal-server, trigger-debian-package

build(listener): copy portals.json from portal-server image
  docker/portal-listener/Dockerfile
Due: none

build(listener): Put entrypoint from potral server into container
  docker/docker-compose.yaml
  docker/portal-listener/Dockerfile
Due: none

feat(portal): Output a warning if loading portals.json fails
  univention-portal
Due: trigger-portal-server, trigger-debian-package

build: Use "x-" attributes around server and listener containers
  docker/.env.listener.example
  docker/docker-compose.override.yaml.example
  docker/docker-compose.yaml
Due: none

refactor(portal-server): Add debug logging into make_arg
  python/univention/portal/factory.py
Due: trigger-portal-server, trigger-debian-package

ci: Use commit message linting job from common-ci
  .gitlab-ci.yml
Due: none

build: Capture command to update helm chart dependencies
  Makefile
Due: none

build(helm): Add lock files to all charts
  helm/notifications-api/Chart.lock
  helm/notifications-api/requirements.lock
  helm/portal-frontend/Chart.lock
  helm/portal-frontend/requirements.lock
  helm/portal-server/Chart.lock
  helm/portal-server/requirements.lock
Due: none

build(helm): Add ".helmignore" file to existing charts
  helm/notifications-api/.helmignore
  helm/portal-frontend/.helmignore
  helm/portal-server/.helmignore
Due: none

build(helm): Deploy portal-listener as statefulset
  ansible/fetch-secrets-from-ucs-machine.yaml
  ansible/templates/values-portal-listener-generated.yaml.j2
  helm/portal-listener/Chart.lock
  helm/portal-listener/Chart.yaml
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/deployment.yaml
  helm/portal-listener/templates/secret.yaml
  helm/portal-listener/templates/serviceaccount.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

build(helm): Add initContainer to bootstrap the store content
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/statefulset.yaml
  helm/portal-listener/values.yaml
Due: none

ci(helm): Add common-helm repository
  .gitlab-ci.yml
Due: none

build(helm): Pin to stable version of common-helm in listener chart
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
Due: none

build: Add helm chart for portal-listener
  helm/portal-listener/.gitignore
  helm/portal-listener/.helmignore
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
  helm/portal-listener/README.md.gotmpl
  helm/portal-listener/linter_values.yaml
  helm/portal-listener/templates/NOTES.txt
  helm/portal-listener/templates/configmap.yaml
  helm/portal-listener/templates/deployment.yaml
  helm/portal-listener/values.yaml
Due: none

feat(listener): Support env variable MACHINE_SECRET_FILE in entrypoint
  docker/portal-listener/portal-listener-entrypoint.sh
Due: none

build(portal-listener): Use helm dependency from OCI registry
  .gitlab-ci.yml
  helm/portal-listener/Chart.lock
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
Due: none

ci: Remove helm preparation from linting job
  .gitlab-ci.yml
Due: none

ci: Move adding helm repositories into one template
  .pre-commit-config.yaml
Due: none

build(listener): Add store-dav into dependencies of helm chart
  helm/portal-listener/Chart.lock
  helm/portal-listener/Chart.yaml
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
  helm/values-portal-listener.example.yaml
Due: none

build(listener): Remove autoscaling values, only leave "enabled: false"
  helm/portal-listener/README.md
  helm/portal-listener/values.yaml
Due: none

tmp - test common ci "log-into-registry"
  .gitlab-ci.yml
Due: none

Bug #56113: Use the option to connect to the local slapd, thus removing a lot of slapd load in big environments
  debian/changelog
  debian/control
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

Bug #56113: We have removed build timestamps
  debian/control
Due: trigger-debian-package

Bug #56113: Version bump
  debian/changelog
Due: trigger-debian-package

ci: Drop registry login in "package-helm-charts"
  .gitlab-ci.yml
Due: none

refactor(portal): align with upstream
  conffiles/usr/lib/univention-portal/config/config.json
  python/univention/portal/extensions/authenticator.py
  python/univention/portal/extensions/portal.py
  python/univention/portal/extensions/reloader.py
  unittests/test_portal.py
  univention-portal
Due: trigger-portal-server, trigger-debian-package

feat(portal-server): leave out Host header when session cookie does not carry port information
  python/univention/portal/extensions/authenticator.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-backend): change logging to stdout exclusively in container
  python/univention/portal/log.py
Due: trigger-portal-server, trigger-debian-package

test: Avoid dependency on univentionunittests
  unittests/conftest.py
  unittests/test_authenticator.py
  unittests/test_cache.py
  unittests/test_config.py
  unittests/test_dynamic_portal.py
  unittests/test_log.py
  unittests/test_portal.py
  unittests/test_portal_entries_handler.py
  unittests/test_portal_umc.py
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-server): extract request handlers from main script into individual Python modules
  python/univention/portal/handlers/__init__.py
  python/univention/portal/handlers/auth_handlers.py
  python/univention/portal/handlers/navigation_handler.py
  python/univention/portal/handlers/portal_entries_handler.py
  python/univention/portal/handlers/portal_resource.py
  python/univention/portal/main.py
  setup.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-backend): changed method api and naming of local variables in PortalReloaderUDM._write_image
  conffiles/usr/lib/univention-portal/config/config.json
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

feat(portal): introduce announcements for portal
  33univention-portal.inst
  debian/changelog
  docs/features/screenshot_Announcement_options.png
  frontend/src/assets/de.po
  frontend/src/assets/styles/dark.styl
  frontend/src/components/PortalBackground.vue
  frontend/src/components/PortalHeader.vue
  frontend/src/components/widgets/Announcement.vue
  frontend/src/jsHelper/forms.ts
  frontend/src/store/modules/portalData/index.ts
  frontend/src/store/modules/portalData/portalData.models.ts
  frontend/stories/widgets/Announcement.stories.ts
  listener/portal_server.py
  python/univention/portal/extensions/cache.py
  python/univention/portal/extensions/portal.py
  python/univention/portal/extensions/reloader.py
  python/univention/portal/util.py
  udm/acls/62univention-portal.acl
  udm/api/portal.py
  udm/handlers/all.py
  udm/handlers/announcement.py
  udm/handlers/category.py
  udm/handlers/de.po
  udm/handlers/entry.py
  udm/handlers/folder.py
  udm/handlers/portal.py
  udm/schema/univention-portal.schema
  udm/syntax/univention-portal.py
  unittests/files/portal_cache.json
  unittests/test_portal.py
  unittests/test_util.py
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

REST endpoint
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

Revert "REST endpoint"
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

refactor(portal-frontend): Use "icon_url" instead of "logo_name"
  frontend/src/jsHelper/createMenuStructure.js
  frontend/src/jsHelper/createUserMenu.ts
  frontend/src/jsHelper/portalCategories.ts
  frontend/src/store/modules/portalData/portalData.models.ts
  frontend/tests/e2e/fixtures/portal_choose_tab_button.json
  frontend/tests/e2e/fixtures/portal_logged_in.json
  frontend/tests/e2e/fixtures/portal_logged_out.json
  frontend/tests/e2e/fixtures/portal_test_tabs.json
  frontend/tests/e2e/fixtures/selfservice/portal.json
  python/univention/portal/extensions/portal.py
  python/univention/portal/extensions/reloader.py
  python/univention/portal/handlers/navigation_handler.py
  unittests/files/portal_cache.json
  unittests/test_portal.py
Due: trigger-frontend, trigger-portal-server, trigger-debian-package

style: add ruff noqa comments
  python/univention/portal/extensions/authenticator.py
Due: trigger-portal-server, trigger-debian-package

style: apply ruff autofixes
  unittests/test_reloader.py
Due: trigger-portal-server, trigger-debian-package

Bug #55176: fix error during upgrade when portals/announcement UDM module is not yet available (on Replicas)
  debian/changelog
  python/univention/portal/extensions/reloader.py
Due: trigger-portal-server, trigger-debian-package

refactor(umc): adjust UMCP set/ HTTP requests
  debian/changelog
  frontend/src/jsHelper/umc.ts
Due: trigger-frontend, trigger-debian-package

Path conditions:
  trigger-notifications-api: any of: notifications-api/**/*, tests/**/*
  trigger-frontend: any of: frontend/**/*, tests/**/*
  trigger-portal-server: any of: portal-server/**/*, python/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server, setup.py, docker/portal-server/**/*, tests/**/*
  trigger-debian-package: any of: portal-server/**/*, python/**/*, udm/**/*, unittests/**/*, univention-portal, univention-portal-server, setup.py, docker/portal-server/**/*, tests/**/*, debian/**/*, frontend/**/*
